.home-publication {
    height:auto;
    width:100%;
}

.hp-header {
    height:62px;
    display:flex;
}

.hp-userprofile {
    height:42px;
    width:42px;
}


.hp-userdata {
    display:flex;
    width:100%;
    align-items: center;
    padding-left:10px;
    gap:15px;
}

.hp-username {
    font-size:0.9em;
}

.hp-options {
    display:grid;
    place-items: center;
    width:10%;
}

.hp-multimedia {
    user-select: none; 
}

.hp-multimedia > img {
    width:100%;
    height:100%;
}

.hp-publication-buttons {
    display:flex;
    padding:5px;
}

.hp-pb-primary {
    width:100%;
}

.hp-publication-description {
    padding:0px 15px 15px 15px;
    height:auto;
    display:flex;
    flex-direction: column;
}

.hp-p-time {
    font-size:0.8em;
}

.hp-pub-counter::after {
    padding-left:0.5em;
    font-weight: bold;
}

.hp-icon {
    color:#000;
    fill:#000;
}

.hp-icon:hover {
    color:#8e8e8e;
    fill:#8e8e8e;
}


.hp-last-comments { 
    display:flex;
    flex-direction: column;
}

.hp-description-fsize {
    font-size:0.88em;
}

.hp-datepulished {
    padding-top:10px;
    padding-bottom:10px;
}

.hp-make-comment {
    display:flex;
}

.hp-mc-form {
    display:flex;
    padding:15px;
    gap:5px;
    width:100%;
}

.hp-emojis {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hp-textarea {
    padding:5px;
    width:100%;
}

.hp-textarea > textarea {
    height:32px;
    max-height:90px;
    border: none;
    overflow: auto;
    outline: none;
    font-size:0.8em;
}

.hp-options-actions {
    position:relative;
}

.hp-options-tooltip {
    position: absolute;
    z-index:100;
    top:32px;
    transform: translate(-45%, 0);
}

.notsqr {
    z-index:0;
    height: 24px;
    width: 24px;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
}