@page "/home"

<Frontend.Shared.Topbar.Topbar></Frontend.Shared.Topbar.Topbar>
<div class="wrapper">
    <div class="home">
        <div class="histories card">
            <div class="histories-content">
                <ul>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <Frontend.Shared.HistoriesCard.Histories></Frontend.Shared.HistoriesCard.Histories>
                    </li>
                </ul>

            </div>
        </div>
        <div class="publications">
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
            <Frontend.Pages.Home.HomePublication.HomePublication></Frontend.Pages.Home.HomePublication.HomePublication>
        </div>
        <section class="aside">
            <div class="aside-content">
                <div class="suggestions-content">
                    <div class="suggestions-header">
                        <span class="semibold text-muted">Sugerencias para tí</span>
                        <span class="semibold"> Ver más</span>
                    </div>
                    <div class="suggestions-cbody">
                        <Frontend.Shared.Suggestions.Suggestions></Frontend.Shared.Suggestions.Suggestions>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>