.followers[b-pefxm1g0w7] {
    position:absolute;
    width:350px;
    max-height:350px;
    top:35px;
    z-index:100;

    left: 50%;
    transform: translate(-50%, 0);

}

.followers-header[b-pefxm1g0w7] {
    padding:10px;
}

.followers-header > h1[b-pefxm1g0w7] {
    font-size:1.1em;
    text-align: center;
}

.followers-content[b-pefxm1g0w7] {
    padding:10px;
    overflow: auto;
    
}