<div class="history-content">
    <div class="history-userprofile">
        <UVGramWeb.Shared.Components.UserProfile.UserProfile/>
    </div>
    <span class="history-username">blazor.02</span>
</div>