.editprofile {
    width:100vw;
    display:flex;
    text-align: center;
    justify-content: center;
    padding:30px;
}

.editprofile-content {
    display:flex;
    width:67%;
    flex-direction: row;
}

.ep-rightside {
    display:flex;
    width:100%;
    overflow: hidden;
}

.ep-editprofile-form {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap:25px;
    width:100%;
    overflow: auto;
    padding:25px;
    flex-direction: column;
}

.ep-data {
    display:flex;
    gap:35px;
    width:80%;
}

.ep-data > aside {
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;

    width:120px;
    min-width: 120px;
}

.ep-data > aside > label {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    word-break: break-word;
    font-size:1em;
    text-align: right;
}



/* ERROR ><<<<<<*/
.ep-data > .ep-input {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex:1;

}

.ep-input > textarea {
    min-height:60px;
}

.ep-data > .ep-input > input,.ep-data > .ep-input > select  {
    width:100%;
    min-width: 205px;
    height:100%;

}


.userprofile-img-content {
    height:42px;
    width:42px;
}

.ep-pp-data {
    display:flex;
    flex-direction: column;
    gap:0px;
    flex:1;
}

.ep-pp-data > h1 {
    font-size:1.2em;
    text-align: start;
}

.ep-pp-data > button {
    text-align: start;
    font-size:0.8em;
    padding:0px;
    font-weight: bold;
    border:0;
    background-color: transparent;
    margin:0px;
}

.form-text {
    font-size: 0.7em;
    text-align: start;
    padding-top:5px;
}

.form-text > h2 {
    font-size:1.2em;
    font-weight: bold;
}

.actions {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.actions > button:first-child {
    font-size:0.7em;
}

.actions > button:last-child {
    font-size:0.8em;
    font-weight: bold;
}