.home-publication[b-bq5zdp3qyf] {
    height:auto;
    width:100%;
}

.hp-header[b-bq5zdp3qyf] {
    height:62px;
    display:flex;
}

.hp-userprofile[b-bq5zdp3qyf] {
    height:42px;
    width:42px;
}


.hp-userdata[b-bq5zdp3qyf] {
    display:flex;
    width:100%;
    align-items: center;
    padding-left:10px;
    gap:15px;
}

.hp-username[b-bq5zdp3qyf] {
    font-size:0.9em;
}

.hp-options[b-bq5zdp3qyf] {
    display:grid;
    place-items: center;
    width:10%;
}

.hp-multimedia[b-bq5zdp3qyf] {
    user-select: none; 
}

.hp-multimedia > img[b-bq5zdp3qyf] {
    width:100%;
    height:100%;
}

.hp-publication-buttons[b-bq5zdp3qyf] {
    display:flex;
    padding:5px;
}

.hp-pb-primary[b-bq5zdp3qyf] {
    width:100%;
}

.hp-publication-description[b-bq5zdp3qyf] {
    padding:0px 15px 15px 15px;
    height:auto;
    display:flex;
    flex-direction: column;
}

.hp-p-time[b-bq5zdp3qyf] {
    font-size:0.8em;
}

.hp-pub-counter[b-bq5zdp3qyf]::after {
    padding-left:0.5em;
    font-weight: bold;
}

.hp-icon[b-bq5zdp3qyf] {
    color:#000;
    fill:#000;
}

.hp-icon:hover[b-bq5zdp3qyf] {
    color:#8e8e8e;
    fill:#8e8e8e;
}


.hp-last-comments[b-bq5zdp3qyf] { 
    display:flex;
    flex-direction: column;
}

.hp-description-fsize[b-bq5zdp3qyf] {
    font-size:0.88em;
}

.hp-datepulished[b-bq5zdp3qyf] {
    padding-top:10px;
    padding-bottom:10px;
}

.hp-make-comment[b-bq5zdp3qyf] {
    display:flex;
}

.hp-mc-form[b-bq5zdp3qyf] {
    display:flex;
    padding:15px;
    gap:5px;
    width:100%;
}

.hp-emojis[b-bq5zdp3qyf] {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hp-textarea[b-bq5zdp3qyf] {
    padding:5px;
    width:100%;
}

.hp-textarea > textarea[b-bq5zdp3qyf] {
    height:32px;
    max-height:90px;
    border: none;
    overflow: auto;
    outline: none;
    font-size:0.8em;
}

.hp-options-actions[b-bq5zdp3qyf] {
    position:relative;
}

.hp-options-tooltip[b-bq5zdp3qyf] {
    position: absolute;
    z-index:100;
    top:32px;
    transform: translate(-45%, 0);
}

.notsqr[b-bq5zdp3qyf] {
    z-index:0;
    height: 24px;
    width: 24px;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
}