@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <CascadingValue Value="this">
            <RouteView RouteData="@routeData" DefaultLayout="this.LayoutType" />
        </CascadingValue>
    </Found>
    <NotFound>
        <LayoutView Layout="this.LayoutType">
            <div class="not-found-container">
                <h2>Esta página no está disponible</h2>
                <p>Es posible que el enlace que seleccionaste no funcione o que se haya eliminado la página.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>


@code {
    private Type LayoutType = typeof(MainLayout);

    public void SetLayout(Type layout)
    {
        if (layout != LayoutType)
        {
            this.LayoutType = layout;
            StateHasChanged();
        }
    }
}