/* _content/UVGramWeb/Pages/EditProfile/ChangePassword/ChangePassword.razor.rz.scp.css */
.editprofile-chpassword[b-6tqvszy58b] {
    width:100vw;
    display:flex;
    text-align: center;
    justify-content: center;
    padding:30px;
}

.editprofilechp-content[b-6tqvszy58b] {
    display:flex;
    width:67%;
    flex-direction: row;
}

.ep-rightside[b-6tqvszy58b] {
    display:flex;
    width:100%;
    overflow: hidden;
}

.ep-editprofile-form[b-6tqvszy58b] {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap:25px;
    width:100%;
    overflow: auto;
    padding:25px;
    flex-direction: column;
}

.ep-data[b-6tqvszy58b] {
    display:flex;
    gap:35px;
    width:95%;
}

.ep-data > aside[b-6tqvszy58b] {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:140px;
    min-width: 150px;
}

.ep-data > aside > label[b-6tqvszy58b] {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    word-break: break-word;
    font-size:0.98em;
    text-align: right;
    line-height: 1em;
}



.ep-data > .ep-input[b-6tqvszy58b] {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex:1;
}

.ep-data > .ep-input > input[b-6tqvszy58b],.ep-data > .ep-input > select[b-6tqvszy58b]  {
    width:100%;
    min-width: 205px;
    height:40px;
    max-height:42px;

}


.userprofile-img-content[b-6tqvszy58b] {
    height:42px;
    width:42px;
}

.ep-pp-data[b-6tqvszy58b] {
    display:flex;
    flex-direction: column;
    gap:0px;
    flex:1;
}

.ep-pp-data > h1[b-6tqvszy58b] {
    font-size:1.2em;
    text-align: start;
}

.ep-pp-data > button[b-6tqvszy58b] {
    text-align: start;
    font-size:0.8em;
    padding:0px;
    font-weight: bold;
    border:0;
    background-color: transparent;
    margin:0px;
}

.form-text[b-6tqvszy58b] {
    font-size: 0.7em;
    text-align: start;
    padding-top:5px;
}

.form-text > h2[b-6tqvszy58b] {
    font-size:1.2em;
    font-weight: bold;
}

.actions[b-6tqvszy58b] {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.actions > button:first-child[b-6tqvszy58b] {
    font-size:0.7em;
}

.actions > button:last-child[b-6tqvszy58b] {
    font-size:0.8em;
    font-weight: bold;
}
/* _content/UVGramWeb/Pages/EditProfile/EditProfile.razor.rz.scp.css */
.editprofile[b-qg29l6y77f] {
    width:100vw;
    display:flex;
    text-align: center;
    justify-content: center;
    padding:30px;
}

.editprofile-content[b-qg29l6y77f] {
    display:flex;
    width:67%;
    flex-direction: row;
}

.ep-rightside[b-qg29l6y77f] {
    display:flex;
    width:100%;
    overflow: hidden;
}

.ep-editprofile-form[b-qg29l6y77f] {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap:25px;
    width:100%;
    overflow: auto;
    padding:25px;
    flex-direction: column;
}

.ep-data[b-qg29l6y77f] {
    display:flex;
    gap:35px;
    width:80%;
}

.ep-data > aside[b-qg29l6y77f] {
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;

    width:120px;
    min-width: 120px;
}

.ep-data > aside > label[b-qg29l6y77f] {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    word-break: break-word;
    font-size:1em;
    text-align: right;
}



/* ERROR ><<<<<<*/
.ep-data > .ep-input[b-qg29l6y77f] {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex:1;

}

.ep-input > textarea[b-qg29l6y77f] {
    min-height:60px;
}

.ep-data > .ep-input > input[b-qg29l6y77f],.ep-data > .ep-input > select[b-qg29l6y77f]  {
    width:100%;
    min-width: 205px;
    height:100%;

}


.userprofile-img-content[b-qg29l6y77f] {
    height:42px;
    width:42px;
}

.ep-pp-data[b-qg29l6y77f] {
    display:flex;
    flex-direction: column;
    gap:0px;
    flex:1;
}

.ep-pp-data > h1[b-qg29l6y77f] {
    font-size:1.2em;
    text-align: start;
}

.ep-pp-data > button[b-qg29l6y77f] {
    text-align: start;
    font-size:0.8em;
    padding:0px;
    font-weight: bold;
    border:0;
    background-color: transparent;
    margin:0px;
}

.form-text[b-qg29l6y77f] {
    font-size: 0.7em;
    text-align: start;
    padding-top:5px;
}

.form-text > h2[b-qg29l6y77f] {
    font-size:1.2em;
    font-weight: bold;
}

.actions[b-qg29l6y77f] {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.actions > button:first-child[b-qg29l6y77f] {
    font-size:0.7em;
}

.actions > button:last-child[b-qg29l6y77f] {
    font-size:0.8em;
    font-weight: bold;
}
/* _content/UVGramWeb/Pages/EditProfile/EPSidebar.razor.rz.scp.css */

.ep-leftside[b-ph3np8r21s] {
    min-width:236px;
    display:flex;
    flex-direction: column;
}

.ep-leftside > a[b-ph3np8r21s] {
    text-align: left;
    padding:5px;
    width:100%;
}

.nav-items > span[b-ph3np8r21s] {
    color:#000;
    padding-left:15px;
    display:block
}

.nav-items > .btn-link[b-ph3np8r21s] {
    color: #0d6efd;
    text-align: center;
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size:0.8em;
}

.nav-items[b-ph3np8r21s] {
    padding:15px;
    text-align: left;
    text-decoration: none;
}

.nav-items:hover > span[b-ph3np8r21s] {
    color:rgb(122, 113, 113);
}

.active[b-ph3np8r21s] {
    border-color:rgb(0, 0, 255);
    border-style: solid;
    border-width: 0px 0px 0px 3px;
}
/* _content/UVGramWeb/Pages/Histories/HistoriesPage.razor.rz.scp.css */
.storiespg[b-vhpzinn8p7] {
    height:100vh;
    width:100vw;
    background-color: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:7vh;
}
/* _content/UVGramWeb/Pages/Histories/HistoryPageCard/HistoryPageCard.razor.rz.scp.css */
.historycard[b-s01x4icsff] {
    height:38%;
    width:12%;
    background-color: blue;
    border-radius:7px;
    position: relative;
}

.historycard > img[b-s01x4icsff] {
    height: 100%;
    width: 100%;
}

.historycard.active[b-s01x4icsff] {
    height: 96%;
    width:30%;
    aspect-ratio: 96/30;
}

.backStorie[b-s01x4icsff] {
    position:absolute;
    top:50%;
    left:-10%;
}

.nextStorie[b-s01x4icsff] {
    position:absolute;
    top:50%;
    right:-10%;
}
/* _content/UVGramWeb/Pages/Home/Home.razor.rz.scp.css */
.wrapper[b-4d1lkf14n8] {
    /*height:calc(100vh - 62px);*/
    height:10000px;
    width:100vw;
    display:flex;
    justify-content: center;
}

.home[b-4d1lkf14n8] {
    display:grid;
    width:75%;
    height:100%;
    grid-gap:15px;
    grid-template-areas:
    "a c"
    "b c";
    grid-template-columns:calc(65% - 15px) 35%;
    grid-template-rows: 120px calc(80vh - 15px);
    padding: 25px 15px 0 15px;
}

.histories[b-4d1lkf14n8] {
    grid-area:a;
}

.publications[b-4d1lkf14n8] {
    grid-area:b;
    gap:25px;
    display:flex;
    flex-direction: column;
}

.aside[b-4d1lkf14n8] {
    grid-area:c;
    padding-top:100px;
}

.histories-content[b-4d1lkf14n8] {
    height:100%;
    width:100%;
}

.histories-content ul[b-4d1lkf14n8] {
    list-style: none;
    display:flex;
    padding:0;
    padding-left:10px;
    height:100%;
    margin:0;
    justify-content: left;
    align-items: center;
    overflow:auto;
}

.aside-content[b-4d1lkf14n8] {
    width:100%;
}

.suggestions-content[b-4d1lkf14n8] {
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: hidden;
}

.suggestions-header[b-4d1lkf14n8] {
    padding:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions-header > span:nth-child(2)[b-4d1lkf14n8] {
    font-size: 0.8em;;
}
/* _content/UVGramWeb/Pages/Home/HomeHistories/Histories.razor.rz.scp.css */
/* _content/UVGramWeb/Pages/Home/HomePublication/HomePublication.razor.rz.scp.css */
.home-publication[b-bq5zdp3qyf] {
    height:auto;
    width:100%;
}

.hp-header[b-bq5zdp3qyf] {
    height:62px;
    display:flex;
}

.hp-userprofile[b-bq5zdp3qyf] {
    height:42px;
    width:42px;
}


.hp-userdata[b-bq5zdp3qyf] {
    display:flex;
    width:100%;
    align-items: center;
    padding-left:10px;
    gap:15px;
}

.hp-username[b-bq5zdp3qyf] {
    font-size:0.9em;
}

.hp-options[b-bq5zdp3qyf] {
    display:grid;
    place-items: center;
    width:10%;
}

.hp-multimedia[b-bq5zdp3qyf] {
    user-select: none; 
    min-height:250px;
    height:520px;
    max-height:600px;
}

.hp-multimedia > img[b-bq5zdp3qyf] {
    width:100%;
    height:100%;
}

.hp-publication-buttons[b-bq5zdp3qyf] {
    display:flex;
    padding:5px;
}

.hp-pb-primary[b-bq5zdp3qyf] {
    width:100%;
}

.hp-publication-description[b-bq5zdp3qyf] {
    padding:0px 15px 15px 15px;
    height:auto;
    display:flex;
    flex-direction: column;
}

.hp-p-time[b-bq5zdp3qyf] {
    font-size:0.8em;
}

.hp-pub-counter[b-bq5zdp3qyf]::after {
    padding-left:0.5em;
    font-weight: bold;
}

.hp-icon[b-bq5zdp3qyf] {
    color:#000;
    fill:#000;
}

.hp-icon:hover[b-bq5zdp3qyf] {
    color:#8e8e8e;
    fill:#8e8e8e;
}


.hp-last-comments[b-bq5zdp3qyf] { 
    display:flex;
    flex-direction: column;
}

.hp-description-fsize[b-bq5zdp3qyf] {
    font-size:0.88em;
}

.hp-datepulished[b-bq5zdp3qyf] {
    padding-top:10px;
    padding-bottom:10px;
}

.hp-make-comment[b-bq5zdp3qyf] {
    display:flex;
}

.hp-mc-form[b-bq5zdp3qyf] {
    display:flex;
    padding:15px;
    gap:5px;
    width:100%;
}

.hp-emojis[b-bq5zdp3qyf] {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hp-textarea[b-bq5zdp3qyf] {
    padding:5px;
    width:100%;
}

.hp-textarea > textarea[b-bq5zdp3qyf] {
    height:32px;
    max-height:90px;
    border: none;
    overflow: auto;
    outline: none;
    font-size:0.8em;
}

.hp-options-actions[b-bq5zdp3qyf] {
    position:relative;
}

.hp-options-tooltip[b-bq5zdp3qyf] {
    position: absolute;
    z-index:100;
    top:32px;
    transform: translate(-45%, 0);
}

.notsqr[b-bq5zdp3qyf] {
    z-index:0;
    height: 24px;
    width: 24px;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
}
/* _content/UVGramWeb/Pages/Inbox/Chat/Chat.razor.rz.scp.css */
.chat[b-5thuc6oyby] {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.chat-messages-wrapper[b-5thuc6oyby] {
    padding:10px;
}

.chat-header[b-5thuc6oyby] {
    height:62px;
    padding:18px;
    display:flex;
    padding-left:30px;
    justify-content: center;
    align-items: center;
}

.chat-actions[b-5thuc6oyby] {
    padding:5px;
}

.chat-actions > button[b-5thuc6oyby] {
    border:none;
    background-color: transparent;
}

.username[b-5thuc6oyby] {
    padding-left:15px;
    flex:1;
}

.userprofile[b-5thuc6oyby] {
    height:32px;
    width:32px;
}


.chat-messages[b-5thuc6oyby] {
    flex:1;
    overflow: auto;
}

.chat-messages-wrapper[b-5thuc6oyby] {
    overflow: hidden;
}



.chat-send-actions[b-5thuc6oyby] {
    padding:5px 20px 5px 20px;
}

.cs-wrapper[b-5thuc6oyby] {
    display:flex;
    align-items: center;
    justify-items: center;
    padding:10px 20px 10px 20px;
    border-radius:25px;
    gap:15px;
}

.cs-emojis[b-5thuc6oyby] {
    border:none;
}

.cs-emojis > button[b-5thuc6oyby] {
    border:none;
    background-color: transparent;
}

.cs-textarea[b-5thuc6oyby] {
    flex:1;
}

.cs-textarea > textarea[b-5thuc6oyby] {
    height:38px;
    min-height:38px;
    max-height: 108px;
    border:none;
}

.cs-fileadj[b-5thuc6oyby] {
    padding:5px;
}

.cs-fileadj > button[b-5thuc6oyby] {
    border:none;
    background-color: transparent;
}


.chat-members[b-5thuc6oyby] {
    padding:15px;
    display:flex;
    flex-direction: column;
}

.chat-actionsdetails[b-5thuc6oyby] {
    display:flex;
    gap:5px;
    flex-direction: column;
    padding:15px;
}

.chat-actionsdetails > button[b-5thuc6oyby] {
    color:#dc3545;
    background-color: transparent;
    border:0;
    text-align: start;
    padding:5px;
    font-size:0.9em;
}

.ca-active > circle[b-5thuc6oyby]{
    background-color: #000;
}
/* _content/UVGramWeb/Pages/Inbox/Chat/MemberCard/MemberCard.razor.rz.scp.css */
.uc-membercard[b-qv7ykwf0j9] {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    padding:15px;
}

.userprofile[b-qv7ykwf0j9] {
    height:56px;
    width:56px;
    display:flex;

}

.membercard-data[b-qv7ykwf0j9] {
    font-size:0.9em;
    width:100%;
    display:flex;
    flex-direction: column;
}

.membercard-data > span:last-child[b-qv7ykwf0j9] {
    font-size:0.85em;
}

.membercard-actions > button[b-qv7ykwf0j9] {
    font-size:0.8em;
    font-weight: 600;
    padding:0;
}
/* _content/UVGramWeb/Pages/Inbox/Chat/MyMessage/MyMessage.razor.rz.scp.css */
.mymessage-wrapper[b-gcbuxeim6g] {
    width:100%;
    padding:5px;
    display:flex;
    justify-content: flex-end;
}

.mymessage[b-gcbuxeim6g] {
    max-width: 234px;
    padding:15px;
    border-radius:18px;
    background-color:rgb(235, 223, 223);
    word-break: break-all;
    font-size:0.87em;
}
/* _content/UVGramWeb/Pages/Inbox/Chat/SuggestionMessageUserCard/SuggestionMUCard.razor.rz.scp.css */
.sumucard[b-fwrpecrxmh] {
    display: flex;
    gap:10px;
    cursor:pointer;
    padding:5px;
}


.userprofile[b-fwrpecrxmh] {
    height:44px;
    width:44px;
}


.userdata[b-fwrpecrxmh] {
    display: flex;
    flex-direction: column;
    flex:1;
}
/* _content/UVGramWeb/Pages/Inbox/Chat/UserMessage/UserMessage.razor.rz.scp.css */
.usermessage-wrapper[b-vrjjufz003] {
    width:100%;
    padding:5px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap:10px;
}

.userprofile[b-vrjjufz003] {
    height:24px;
    width:24px;
}

.usermessage[b-vrjjufz003] {
    max-width: 234px;
    padding:15px;
    border-radius:18px;
    word-break: break-all;
    font-size:0.87em;
}
/* _content/UVGramWeb/Pages/Inbox/Inbox.razor.rz.scp.css */
.inbox[b-k9n295d3ny] {
    width:100vw;
    height:calc(100vh - 62px);
    padding:15px;
    display:flex;
    justify-content: center;
}

.inbox-container[b-k9n295d3ny] {
    width:68%;
    height:100%;
    display:flex;
    flex-direction: row;
}

.inbox-messages[b-k9n295d3ny] {
    width:35%;
    min-width: 200px;
    max-width: 349px;

}

.inbox-header[b-k9n295d3ny] {
    padding:18px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.inbox-header > span[b-k9n295d3ny] {
    width:100%;
    text-align: center;
}

.inbox-send-action[b-k9n295d3ny] {
    position:relative;
}

.sendmessage-tooltip[b-k9n295d3ny] {
    position:absolute;
    z-index:100;
    left:-150px;
    top:35px;
    width:300px;
}

.inbox-send-action > button[b-k9n295d3ny] {
    background-color: transparent;
    border: 0;
}

.inbox-messagescards[b-k9n295d3ny] {
    height:90%;
    overflow: auto;
}

.inbox-messagescards > ul[b-k9n295d3ny] {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
}

.inbox-chat[b-k9n295d3ny] {
    flex:1;
    overflow: hidden;
}

.notsqr[b-k9n295d3ny] {
    z-index:0;
    height: 24px;
    width: 24px;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
}
/* _content/UVGramWeb/Pages/Inbox/SendMessage/SendMessage.razor.rz.scp.css */
.sendmessage[b-aexswl2pd7] {
    width:100%;
    height:100%;
}

.sendmessage-header[b-aexswl2pd7] {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.sendmessage-header > span[b-aexswl2pd7] {
    font-size:0.85em;
    display:flex;
    align-items: center;
}

.sendmessage-to-input[b-aexswl2pd7] {
    padding:15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sendmessage-to-input > input[b-aexswl2pd7] {
    background-color: transparent;
    border:none;
    font-size: 1.2em;;
}

.sendmessage-suggestions[b-aexswl2pd7] {
    padding: 15px;
    font-size:0.8em;
}
/* _content/UVGramWeb/Pages/Login/Login.razor.rz.scp.css */
.login[b-5kqehl7rlk] {
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.log-main[b-5kqehl7rlk] {
    padding:25px;
    width:calc(420px - 30px);
}

.log-logo[b-5kqehl7rlk] {
    padding:25px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.log-form[b-5kqehl7rlk] {
    padding:15px;
}

.log-buttons[b-5kqehl7rlk] {
    padding-left:15px;
    padding-right:15px;
}


.log-buttons > button[b-5kqehl7rlk] {
    width:100%;
}

.log-signup[b-5kqehl7rlk] {
    width:calc(420px - 30px);
    padding:15px;
}

.log-signup-content[b-5kqehl7rlk] {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}
/* _content/UVGramWeb/Pages/Profile/Followers/Followers.razor.rz.scp.css */
.followers[b-mmalesrwgu] {
    position:absolute;
    width:350px;
    max-height:350px;
    top:35px;
    z-index:100;

    left: 50%;
    transform: translate(-50%, 0);

}

.followers-header[b-mmalesrwgu] {
    padding:10px;
}

.followers-header > h1[b-mmalesrwgu] {
    font-size:1.1em;
    text-align: center;
}

.followers-content[b-mmalesrwgu] {
    padding:10px;
    overflow: auto;
    
}
/* _content/UVGramWeb/Pages/Profile/Following/Following.razor.rz.scp.css */
.following[b-zsp5vpw3d5] {
    position:absolute;
    width:350px;
    max-height:350px;
    top:35px;
    z-index:100;
    left: 50%;
    transform: translate(-50%, 0);

}

.following-header[b-zsp5vpw3d5] {
    padding:10px;
}

.following-header > h1[b-zsp5vpw3d5] {
    font-size:1.1em;
    text-align: center;
}

.following-content[b-zsp5vpw3d5] {
    padding:10px;
    overflow: auto;
    
}
/* _content/UVGramWeb/Pages/Profile/Profile.razor.rz.scp.css */
.profile[b-rqgvf31y2o] {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 55px;
}

.profile-content[b-rqgvf31y2o] {
    width: 80vw;
}

/* 
.profile-userdata {
    background-color: red;
}
*/
.profile-data[b-rqgvf31y2o] {
    padding:30px 30px 0px 30px;
    display:flex;
    justify-content: center;
    align-items: top;
    gap:25px;
}

.profile-description[b-rqgvf31y2o] {
    margin-left:55px;
}

.userprofile[b-rqgvf31y2o] {
    display:flex;
    justify-content: center;
    align-items: top;
    width:auto;
}

.profile-a-container[b-rqgvf31y2o] {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    padding:15px;
}

.profile-a-username[b-rqgvf31y2o] {
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile-a-username > h2[b-rqgvf31y2o] {
    font-size:1.6em;
}

.profile-desc-actions[b-rqgvf31y2o] {
    display:flex;
    gap:10px;
}

.profile-desc-actions > div > button[b-rqgvf31y2o] {
    font-size:0.85em;
    color:#000;
    font-weight: 600;
}

.profile-b-container[b-rqgvf31y2o] {
    display:flex;
    justify-content: flex-start;
    padding:5px 0px 0px 15px;
    align-items: center;
    gap:5px;
}

.profile-indicators[b-rqgvf31y2o] {
    display:flex;
    justify-content: space-between;
    width: 80%;
}

.profile-indicators > button[b-rqgvf31y2o]{
    border:0;
    background-color: transparent;
}

.profile-c-container[b-rqgvf31y2o] {
    padding:15px;
    
}


.userprofile-img[b-rqgvf31y2o] {
    height:165px;
    width:165px;
}

.profile-histories[b-rqgvf31y2o] {
    padding:15px;
    justify-content: center;
    align-items: center;
    display:flex;
}

.profile-histories ul[b-rqgvf31y2o] {
    list-style: none;
    display:flex;
    gap:15px;
}

.profile-publications[b-rqgvf31y2o] {
    padding-top:15px;
    padding-bottom:15px;
    display:flex;
    flex-direction: column;
    gap:15px;
}

.pf-followers[b-rqgvf31y2o] {
    position:relative;
}

.pf-following[b-rqgvf31y2o] {
    position:relative;
}

.notsqr[b-rqgvf31y2o] {
    z-index:0;
    height: 24px;
    width: 24px;
    left:50%;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
}
/* _content/UVGramWeb/Pages/Profile/PublicationProfile/PublicationProfile.razor.rz.scp.css */
.publication-profile[b-nnge3widdo] {
    width:100%;
    display:flex;
    display:flex;
    justify-content: center;
    gap:15px;
}

.pf-publication[b-nnge3widdo] {
    display:flex;

    height:35vh;
    width:35vh;

    overflow: hidden;

    justify-content: center;
    align-items: center;
    background-color: rgb(230, 219, 219);
}

.profile-img > img[b-nnge3widdo] {
    height:100%;
    width:100%;
    object-fit: contain;
}
/* _content/UVGramWeb/Pages/PublicationDetail/PublicationDetail.razor.rz.scp.css */
.publication[b-r7z2k9aw5h] {
    min-height:60vh;
    max-height:100vh;
    width:100%;
    padding:35px;
    display:flex;
    justify-content: center;
}
/* _content/UVGramWeb/Pages/SignUp/SignUp.razor.rz.scp.css */
.signUp[b-m815n33bdu] {
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-main[b-m815n33bdu] {
    padding:25px;
    width:calc(520px - 30px);
}

.su-description[b-m815n33bdu] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.su-form[b-m815n33bdu] {
    padding:15px;
}

.su-buttons[b-m815n33bdu] {
    padding-left:15px;
    padding-right:15px;
}

.su-buttons > button[b-m815n33bdu] {
    width:100%;
}


.su-login[b-m815n33bdu] {
    width:calc(520px - 30px);
    padding:15px;
}

.su-l-content[b-m815n33bdu] {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.conditions[b-m815n33bdu] {
    font-size:0.8em;
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
}
/* _content/UVGramWeb/Pages/SignUp/SignUpBirth.razor.rz.scp.css */
.su-bd[b-mu88kh4xhb] {
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-bd-main[b-mu88kh4xhb] {
    padding:25px;
    width:calc(430px - 30px);
    display:flex;
    align-items: center;
}

.su-bd-form[b-mu88kh4xhb] {
    display:flex;
    gap:15px;
    padding-left:35px;
    padding-right:35px;
}

.su-bd-description[b-mu88kh4xhb] {
    padding:25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.su-bd-description > img[b-mu88kh4xhb] {
    height:120px;
    padding-bottom:15px;
}


.su-bd-select-description[b-mu88kh4xhb] {
    font-size:0.8em;
    padding-left:25px;
    padding-right:25px;
}

.su-buttons[b-mu88kh4xhb] {
    display:flex;
    flex-direction: column;
    width:100%;
    gap:15px;
    padding-left:25px;
    padding-right:25px;
}

.su-buttons > button[b-mu88kh4xhb] {
    width:100%;
}
/* _content/UVGramWeb/Pages/SignUp/SignUpInitialData.razor.rz.scp.css */
.signUp[b-4vzyl9gbvt] {
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-main[b-4vzyl9gbvt] {
    padding:25px;
    width:calc(520px - 30px);
}

.su-description[b-4vzyl9gbvt] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.su-form[b-4vzyl9gbvt] {
    padding:15px;
}

.su-buttons[b-4vzyl9gbvt] {
    padding-left:15px;
    padding-right:15px;
}

.su-buttons > button[b-4vzyl9gbvt] {
    width:100%;
}


.su-login[b-4vzyl9gbvt] {
    width:calc(520px - 30px);
    padding:15px;
}

.su-l-content[b-4vzyl9gbvt] {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.conditions[b-4vzyl9gbvt] {
    font-size:0.8em;
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
}
/* _content/UVGramWeb/Pages/SignUp/SignUpTypeAccount.razor.rz.scp.css */
.su-type-account[b-smgm4rnepf]{
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-type-acc-main[b-smgm4rnepf] {
    padding:25px;
    width:calc(420px - 30px);
    display:flex;
    align-items: center;
}

.su-ta-description[b-smgm4rnepf] {
    padding:25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.su-ta-description > img[b-smgm4rnepf] {
    height:120px;
    padding-bottom:15px;
}

.su-ta-form[b-smgm4rnepf] {
    display:flex;
    padding:15px;
    gap:55px;
}

.su-login[b-smgm4rnepf] {
    width:calc(420px - 30px);
    padding:15px;
}

.su-l-content[b-smgm4rnepf] {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.conditions[b-smgm4rnepf] {
    font-size:0.8em;
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
}
/* _content/UVGramWeb/Pages/SignUp/SignUpVerifyCode.razor.rz.scp.css */
.su-code[b-i77flgwyrf]{
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-code-main[b-i77flgwyrf] {
    padding:5px 25px 25px 25px;
    width:calc(420px - 30px);
    display:flex;
    align-items: center;
    justify-content: center;
}

.su-code-description[b-i77flgwyrf] {
    padding:25px 25px 0 25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.su-code-description > img[b-i77flgwyrf] {
    height:120px;
    padding-bottom:15px;
}

.su-code-form[b-i77flgwyrf] {
    padding:25px;
    padding:15px 25px 25px 25px;
    width:100%;
}



.su-buttons[b-i77flgwyrf] {
    display:flex;
    flex-direction: column;
    width:100%;
    gap:15px;
    padding-left:25px;
    padding-right:25px;
}

.su-buttons > button[b-i77flgwyrf] {
    width:100%;
}

.su-login[b-i77flgwyrf] {
    width:calc(420px - 30px);
    padding:15px;
}

.su-l-content[b-i77flgwyrf] {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.conditions[b-i77flgwyrf] {
    font-size:0.8em;
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
}
/* _content/UVGramWeb/Pages/UnderConstruction/UnderConstruction.razor.rz.scp.css */
.underconstruction[b-wvqyb6wglr] {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.underconstruction > img[b-wvqyb6wglr] {
    width:35vw;
    height:35vh;
}
/* _content/UVGramWeb/Pages/Welcome/Index.razor.rz.scp.css */
.welcome-main-container[b-bz8jlyv3r3] {
    display: flex;
    flex-direction: column;
}

.welcome-main-information-container[b-bz8jlyv3r3] {
    height: calc(95vh - 72px - 40px);
    display: flex;
    margin: auto;
    padding: 20px;
}

.welcome-main-information-image[b-bz8jlyv3r3] {
    width: 40vw;
    height: 55vh;
    margin: auto;
}

.welcome-information-image[b-bz8jlyv3r3] {
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-main-information-text[b-bz8jlyv3r3] {
    width: 54vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
}

.welcome-main-information-text>div[b-bz8jlyv3r3] {
    width: 250px;
    height: 35px;
}

.welcome-main-information-text>p[b-bz8jlyv3r3] {
    text-align: justify;
}

.welcome-problems-information-container[b-bz8jlyv3r3] {
    background-color: #f0f0f0;
    width: 100vw;
    display: flex;
    height:80vh;
    justify-content: center;
    align-items: top-center;
}

.welcome-problems-information-container>.welcome-problems-information[b-bz8jlyv3r3] {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.welcome-problems-information>p[b-bz8jlyv3r3] {
    text-align: justify;
}

.welcome-benefits-information-container[b-bz8jlyv3r3] {
    display: flex;
    width: calc(100vw - 40px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.welcome-benefits-description-container[b-bz8jlyv3r3] {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
    align-items: center;
    gap: 5vh;
}

.welcome-benefits-description-container > span[b-bz8jlyv3r3] {
    text-align: justify;
}

.welcome-benefits-description-container > img[b-bz8jlyv3r3] {
        width: 50%;
        height: 50%;   
}


.welcome-benefits-list-container[b-bz8jlyv3r3] {
    width: calc(80% + 30px);
}

.welcome-benefits-list-container > ul[b-bz8jlyv3r3] {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.welcome-benefits-list-container>ul>li[b-bz8jlyv3r3] {
    width: calc(100% / 2);
    height: auto;
}

.welcome-benefits-listItem-container[b-bz8jlyv3r3] {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.welcome-benefits-listItem-container>img[b-bz8jlyv3r3] {
    width: 155px;
    height: 155px;
    margin: auto;
}

.welcome-benefits-listItem-container>span[b-bz8jlyv3r3] {
    text-align: center;

}

.welcome-choose-account-type-container[b-bz8jlyv3r3] {
    width: 100vw;
    background-color: #f0f0f0;
    padding-bottom: 25px;
    padding-top: 35px;
}

.welcome-choose-title[b-bz8jlyv3r3] {
    padding: 15px;
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
    width: calc(100% - 30px);
    align-items: flex-start;
    justify-content: flex-start;
}

.welcome-choose-title>h1[b-bz8jlyv3r3] {
    padding-left: 55px;
}

.welcome-choose-title>p[b-bz8jlyv3r3] {
    padding-left: 55px;
}

.welcome-choose-title>.welcome-choose-description[b-bz8jlyv3r3] {
    width: 85%;
    padding-left:35px;
    text-align: justify;
}

.welcome-choose-list-container>ul[b-bz8jlyv3r3] {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
    justify-content: center;
}

.welcome-choose-list-container>ul>li[b-bz8jlyv3r3] {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 35px);
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.welcome-choose-listItem-container[b-bz8jlyv3r3] {
    display: flex;
    flex-direction: column;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0 3px 6px,
        rgba(0, 0, 0, 0.23) 0 3px 6px;
    background-color: #fff;
    padding: 15px;
    width: 80%;
    height: 85%;
    gap: 15px;
    border-radius:15px;
}

.welcome-choose-image-container[b-bz8jlyv3r3] {
    height: 35%;
    padding-top:35px;
}

.welcome-choose-image-container>img[b-bz8jlyv3r3] {
    width: 100%;
    height: 100%;
}

.welcome-choose-description-container[b-bz8jlyv3r3] {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
}

.welcome-choose-description-text-container[b-bz8jlyv3r3] {
    display: flex;
    flex-direction: column;
    height: 75%;
    padding: 15px;
    gap: 15px;
    overflow-y: auto;
}

.welcome-choose-description-text-container>h2[b-bz8jlyv3r3] {
    text-align: center;
}

.welcome-choose-description-text-container>span[b-bz8jlyv3r3] {
    text-align: justify;
}

.welcome-choose-description-text-container>ul[b-bz8jlyv3r3] {
    padding-left: 2em;
}

.welcome-choose-description-text-container>ul>.valid-li[b-bz8jlyv3r3] {
    list-style: url("images/valid.svg");
}

.welcome-choose-description-text-container>ul>.invalid-li[b-bz8jlyv3r3] {
    list-style: url("images/invalid.svg");
}

.welcome-choose-description-button-container[b-bz8jlyv3r3] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
}

/* _content/UVGramWeb/Shared/HistoriesCard/Histories.razor.rz.scp.css */
.history-content[b-x40rex66u9] {
    height: auto;
    width: auto;
    display:flex;
    flex-direction: column;
    gap:3px;
    justify-content: center;
    align-items: center;
}

.history-userprofile[b-x40rex66u9] {
    height:60px;
    width:60px;
}

.history-username[b-x40rex66u9] {
    font-size:0.8em;
    width:80px;
    display: inline-block;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
/* _content/UVGramWeb/Shared/Logo/Logo.razor.rz.scp.css */
.logo[b-6t8ch7372h] {
    font-size:2em;
    font-weight: bold;
}
/* _content/UVGramWeb/Shared/MainLayout.razor.rz.scp.css */
.page[b-mwk7a10tnr] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mwk7a10tnr] {
    flex: 1;
}

.sidebar[b-mwk7a10tnr] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-mwk7a10tnr] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-mwk7a10tnr]  a, .top-row .btn-link[b-mwk7a10tnr] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-mwk7a10tnr] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-mwk7a10tnr] {
        display: none;
    }

    .top-row.auth[b-mwk7a10tnr] {
        justify-content: space-between;
    }

    .top-row a[b-mwk7a10tnr], .top-row .btn-link[b-mwk7a10tnr] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mwk7a10tnr] {
        flex-direction: row;
    }

    .sidebar[b-mwk7a10tnr] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mwk7a10tnr] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-mwk7a10tnr], article[b-mwk7a10tnr] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/UVGramWeb/Shared/MessageCard/MessageCard.razor.rz.scp.css */
.messagecard[b-w3wh730kke] {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    padding:10px 15px 10px 15px;
    width:100%;
}

.messagecard:hover[b-w3wh730kke] {
    background-color: rgb(247, 241, 250);
}

.userprofile[b-w3wh730kke] {
    height:56px;
    width:56px;
}

.userprofile-data[b-w3wh730kke] {
    font-size:0.9em;
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: hidden;

}

.mc-message-content > span:last-child[b-w3wh730kke] {
    font-size:0.85em;
}

.mc-message-content[b-w3wh730kke] {
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.userprofile-actions > button[b-w3wh730kke] {
    font-size:0.8em;
    font-weight: 600;
    padding:0;
}


.message[b-w3wh730kke] {
    border-radius: 100%;
    display:grid;
    place-items: center;
}

.no-readed[b-w3wh730kke] {
    background-color:#0095f6;
}

.read[b-w3wh730kke] {
    background-color: transparent;
}
/* _content/UVGramWeb/Shared/Modal/Modal.razor.rz.scp.css */
#myModal[b-br8292mhca] {
    display: block;
    background-color: rgba(10, 10, 10, .8);
}

.md-content[b-br8292mhca] {
    background-color: blue;
    height:100vh;
    width:100vw;
}
/* _content/UVGramWeb/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1e6mcqym9y] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-1e6mcqym9y] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-1e6mcqym9y] {
    font-size: 1.1rem;
}

.oi[b-1e6mcqym9y] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-1e6mcqym9y] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-1e6mcqym9y] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-1e6mcqym9y] {
        padding-bottom: 1rem;
    }

    .nav-item[b-1e6mcqym9y]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-1e6mcqym9y]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-1e6mcqym9y]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-1e6mcqym9y] {
        display: none;
    }

    .collapse[b-1e6mcqym9y] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/UVGramWeb/Shared/Notifications/NotificationCard/NotificationCard.razor.rz.scp.css */
.notificationcard[b-ubujzl2eg1] {
    padding:10px 5px 10px 5px;
    display:flex;
    gap:10px;
}

.userprofile[b-ubujzl2eg1] {
    height:44px;
    width:44px;
}

.ntc-content[b-ubujzl2eg1] {
    text-align: start;
    flex:1;
    display:flex;
    align-items: center;
}

.ntc-content > span[b-ubujzl2eg1] {
    display:block;
    font-size:0.87em;
    line-height: 1.1em;
}

.ntc-linkaction[b-ubujzl2eg1] {
    width:13%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ntc-linkaction > img[b-ubujzl2eg1] {
    width:40px;
    height:40px;
}
/* _content/UVGramWeb/Shared/Notifications/Notifications.razor.rz.scp.css */
.nt-content[b-6stslgco58] {
    height:100%;
    width: 100%;
}

.notf-header[b-6stslgco58] {
    padding:5px 5px 5px 10px;
    display:flex;
    justify-content: flex-start;
    font-size:0.88em;
}

.notf-content[b-6stslgco58] {
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: auto;
    padding:5px;
}
/* _content/UVGramWeb/Shared/Publications/Comment/Comment.razor.rz.scp.css */
.comment-wrapper[b-lvm67gs5tw] {
    width:100%;
    padding:5px;
}

.comment-layout[b-lvm67gs5tw] {
    width:100%;
    font-size:0.90em;
    gap: 10px;
    display:flex;
    align-items: top;
}

.actions-wrapper[b-lvm67gs5tw] {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:15px;
    padding-left:42px;
}

.actions[b-lvm67gs5tw] {
    display:flex;
    gap:10px;
    font-size:0.85em;
    justify-content: center;
    align-items: center;
}

.comment-content[b-lvm67gs5tw] {
    flex:1;
}

.comment-spn[b-lvm67gs5tw] {
    word-break: break-all;
}

.cl-userprofile[b-lvm67gs5tw] {
    height:32px;
    width:32px;
}

.like-action[b-lvm67gs5tw] {
    display:flex;
    align-items: flex-start;
    padding-top:5px;
    justify-content: center;
}

.cat-options-button[b-lvm67gs5tw] {
    position:relative;
}
/* _content/UVGramWeb/Shared/Publications/CreatePublication/CreatePublication.razor.rz.scp.css */
.createpublication[b-2um59velop] {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.cp-close[b-2um59velop] {
    position: absolute;
    top:0;
    right:0;
    padding:15px;
}

.cp-close > button[b-2um59velop] {
    background-color: transparent;
    border:none;
}

.createpub-description-content[b-2um59velop], .createpub-content[b-2um59velop] {
    border:none;
}

.createpub[b-2um59velop] {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.createpub-content[b-2um59velop] {
    width:55%;
    height:80%;
}

.cpc-header[b-2um59velop], .cpc-header-cpd[b-2um59velop] {
    padding:5px;
}

.cpc-header > h1[b-2um59velop],
.cpc-header-cpd > h1[b-2um59velop] {
    font-size:1.0em;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    height:100%;
}

.cpc-multimedia[b-2um59velop] {
    display:Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    gap:10px;
}

.cpc-multimedia > h2[b-2um59velop] {
    font-size:1.3em;
}

.cpc-multimedia > button[b-2um59velop] {
    font-size:0.8em;
}


.cpc-body[b-2um59velop] {
    display:flex;
    height: 100%;
    width: 100%;
}

.cpc-header-cpd[b-2um59velop] {
    display:flex;
    justify-content: space-between;
    padding:5px 15px 5px 15px;
}

.cpc-header-cpd > button[b-2um59velop] {
    border:none;
    background-color: transparent;
    font-size:0.8em;
}

.cpc-description-body[b-2um59velop] {
    height:100%;
    min-height:90%;
    display:flex;
    overflow: auto;

}

.cpc-img-content[b-2um59velop] {
    width:69%;
}

.cpc-img-uploaded[b-2um59velop] {
    height:100%;
    width:100%;
    overflow: hidden;
    border-radius:0 0 0 15px;
}

.createpub-description-content[b-2um59velop] {
    width:85%;
    height:80%;
    border-radius:15px;
}

.cpc-img-uploaded > img[b-2um59velop] {
    min-width:100%;
    min-height:100%;
    flex-shrink: 0;
}

.createpub-datapublication[b-2um59velop] {
    flex:1;
}

.createpub-datapublication > .cs-textarea > textarea[b-2um59velop] {
    min-height:86px;
    height:176px;
    max-height:176px;
    min-width:153px;
    width:100%;
    padding:15px;
    border-radius:0;
}

.cs-textarea-info[b-2um59velop] {
    display:flex;
    justify-content: space-between;
    padding:10px;
}

.cs-textarea-info > button[b-2um59velop] {
    border:none;
    background-color: transparent;
}

.cs-ti-limitdesc[b-2um59velop] {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:0.7em;
    letter-spacing: 0.08em;
}



.createpub-datapublication > .cs-ubication > input[b-2um59velop] {
    padding:15px;
}

.cs-configuration[b-2um59velop] {
    padding:15px;
}

/* _content/UVGramWeb/Shared/Publications/Options/OptionsPublication.razor.rz.scp.css */
/* _content/UVGramWeb/Shared/Publications/PublicationDetail/Options/PublicationDetailOption.razor.rz.scp.css */
.pubd-options[b-5vxhravu9d] {
    display:flex;
    flex-direction: column;
    gap:5px;
}

.pubd-options > button:first-child[b-5vxhravu9d] {
    color:#dc3545;
}
/* _content/UVGramWeb/Shared/Publications/PublicationDetail/PublicationDetail.razor.rz.scp.css */
.publicationdetail[b-6la0jvyuur] {
    max-width:78%;
    min-height:60vh;
    max-height:80vh;
    display:flex;
    flex-direction: row;
}

.pubd-img[b-6la0jvyuur] {
    height:100%;
    width:65%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.pubd-img > img[b-6la0jvyuur] {
    width:100%;
    height: 100%;
    object-fit:contain;
}

.pubd-details[b-6la0jvyuur] {
    flex:1;
    display:flex;
    flex-direction: column;
    font-size:0.9em;
}

.pubd-header[b-6la0jvyuur] {
    display:flex;
    gap:15px;
    width:100%;
    padding:10px 20px 10px 20px;
    justify-content: flex-start;
    align-items: center;
}

.userprofile[b-6la0jvyuur] {
    width:32px;
    height:32px;
}

.userdatapub[b-6la0jvyuur] {
    display:flex;
    flex-direction: column;
    flex:1;
}

.userdatapub > span:nth-child(2)[b-6la0jvyuur] {
    font-size:0.9em;
}

.pubd-comments[b-6la0jvyuur] {
    display:flex;
    flex-direction: column;
    gap:5px;
    flex:1;
    overflow:auto;
    padding:10px;
}

.pubd-actions-content[b-6la0jvyuur] {
    display:flex;
}

.pubd-actions[b-6la0jvyuur] {
    display:flex;
    padding:15px;
    gap:5px;
    width:100%;
}


.pd-emojis[b-6la0jvyuur] {
    display:flex;
    justify-content: center;
    align-items: center;
}

.pd-textarea[b-6la0jvyuur] {
    width:100%;
}

.pd-textarea > textarea[b-6la0jvyuur] {
    height:32px;
    max-height:90px;
    border: none;
    overflow: auto;
    outline: none;
    font-size:0.8em;
}


.pubd-header-actions[b-6la0jvyuur] {
    position:relative;
}

.pubd-options-tooltip[b-6la0jvyuur] {
    width:320px;
    right:-10px;
    top:32px;
    position: absolute;
}

.notsqr[b-6la0jvyuur] {
    z-index:0;
    height: 24px;
    width: 24px;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
}
/* _content/UVGramWeb/Shared/Report/Report.razor.rz.scp.css */
.report[b-myu2a7blm6] {
    height:100vh;
    width:100vw;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.report-content[b-myu2a7blm6] {
    width:400px;
    border-radius:15px;
    display:flex;
    flex-direction: column;
    gap:0px;
}

.report-header[b-myu2a7blm6] {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding:10px;
}

.report-action[b-myu2a7blm6] {
    position: absolute;
    right:10px;
    top:0px;
}

.report-header >  h1[b-myu2a7blm6] {
    width: 100%;
    font-size:1.1em;
    text-align: center;
}

.report-options[b-myu2a7blm6] {
    display:flex;
    flex-direction: column;
}

.report-options > h2[b-myu2a7blm6] {
    font-size:1em;
    padding:10px;
    text-align: center;
    text-align: start;
}

.report-options > button[b-myu2a7blm6] {
    padding:10px 10px 10px 15px;
    border-bottom:2px;
    text-align: start;
}
/* _content/UVGramWeb/Shared/Suggestions/Suggestions.razor.rz.scp.css */
.suggestions[b-pzp2ge8ftl] {
    padding:0 15px 15px 15px;
    display:flex;
    flex-direction: column;
    gap:5px;
}
/* _content/UVGramWeb/Shared/Topbar/Topbar.razor.rz.scp.css */
.topbar[b-b7bo461e2s] {
    height:62px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.topbar-logo[b-b7bo461e2s] {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.topbar-search[b-b7bo461e2s] {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.topbar-actions[b-b7bo461e2s] {
    width:100%;
    gap:5px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    font-size:1.2em;
}

.notification-popup[b-b7bo461e2s] {
    position: relative;
}

.notification-tooltip[b-b7bo461e2s] {
    position: absolute;
    top:10px;
    z-index: 500;
    right:-14px;
    height:320px;
    max-height: 362px;
    width:500px;
}

.notsqr[b-b7bo461e2s] {
    z-index:1;
    height: 14px;
    width: 14px;
    background-color: red;
    position: absolute;
    top:5px;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);

}

/* _content/UVGramWeb/Shared/UserCard/UserCard.razor.rz.scp.css */
.uc-usercard[b-siugdsw7q9] {
    display:flex;
    justify-content: space-between;
    padding:2px;
    align-items: center;
    gap:15px;
}

.userprofile[b-siugdsw7q9] {
    height:32px;
    width:32px;
    display:flex;

}

.userprofile-data[b-siugdsw7q9] {
    font-size:0.9em;
    width:100%;
    display:flex;
    flex-direction: column;
}

.userprofile-data > span:last-child[b-siugdsw7q9] {
    font-size:0.85em;
}

.userprofile-actions > button[b-siugdsw7q9] {
    font-size:0.8em;
    font-weight: 600;
    padding:0;
}
/* _content/UVGramWeb/Shared/UserProfile/UserProfile.razor.rz.scp.css */
.userprofile-content[b-pxicvnp8m6] {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    overflow: hidden;
}

.up-content[b-pxicvnp8m6] {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 5px;
}

.userprofile-img[b-pxicvnp8m6] {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: rgb(54, 58, 54);
    overflow: hidden;

}

.userprofile-img>img[b-pxicvnp8m6] {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: contain;
}

.userprofile-history-available[b-pxicvnp8m6] {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 100%;
}

.history-outstanding[b-pxicvnp8m6] {
    border: 2.5px solid red;
    border-radius: 100%;
}

.history-seen[b-pxicvnp8m6] {
    border: 2.5px solid rgb(187, 187, 187);
    border-radius: 100%;
}
