<div class="publicationdetail card">
    <div class="pubd-img">
        <img src="/images/ide-03.svg" alt="Imagen de usuario">
    </div>
    <div class="pubd-details border-start">
        <div class="pubd-header border-bottom">
            <div class="userprofile">
                <UVGramWeb.Shared.Components.UserProfile.UserProfile></UVGramWeb.Shared.Components.UserProfile.UserProfile>
            </div>
            <div class="userdatapub">
                <span class="semibold"> richwebdeveloper </span>
                <span> Xalapa, Enriquez</span>
            </div>
            <div class="pubd-header-actions">
                <button class="border-0 bg-transparent"
                    @onclick="@(() => ShowPublicationDetailOption = !ShowPublicationDetailOption)">
                    <svg aria-label="Más opciones" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
                        viewBox="0 0 24 24" width="24">
                        <circle cx="12" cy="12" r="1.5"></circle>
                        <circle cx="6" cy="12" r="1.5"></circle>
                        <circle cx="18" cy="12" r="1.5"></circle>
                    </svg>
                </button>

                @if (ShowPublicationDetailOption)
                {
                    <div class="notsqr"></div>
                    <div class="pubd-options-tooltip card shadow">
                        <UVGramWeb.Shared.Components.Publications.PublicationDetail.Options.PublicationDetailOption>
                        </UVGramWeb.Shared.Components.Publications.PublicationDetail.Options.PublicationDetailOption>
                    </div>
                }


            </div>
        </div>
        <div class="pubd-comments">
            <UVGramWeb.Shared.Components.Publications.Comment.Comment></UVGramWeb.Shared.Components.Publications.Comment.Comment>
            <UVGramWeb.Shared.Components.Publications.Comment.Comment></UVGramWeb.Shared.Components.Publications.Comment.Comment>
            <UVGramWeb.Shared.Components.Publications.Comment.Comment></UVGramWeb.Shared.Components.Publications.Comment.Comment>
            <UVGramWeb.Shared.Components.Publications.Comment.Comment></UVGramWeb.Shared.Components.Publications.Comment.Comment>
            <UVGramWeb.Shared.Components.Publications.Comment.Comment></UVGramWeb.Shared.Components.Publications.Comment.Comment>

        </div>
        <div class="pubd-actions-content border-top">
            <form class="pubd-actions">
                <button class="border-0 bg-transparent pd-emojis" type="button">
                    <svg aria-label="Emoji" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img"
                        viewBox="0 0 24 24" width="24">
                        <path
                            d="M15.83 10.997a1.167 1.167 0 101.167 1.167 1.167 1.167 0 00-1.167-1.167zm-6.5 1.167a1.167 1.167 0 10-1.166 1.167 1.167 1.167 0 001.166-1.167zm5.163 3.24a3.406 3.406 0 01-4.982.007 1 1 0 10-1.557 1.256 5.397 5.397 0 008.09 0 1 1 0 00-1.55-1.263zM12 .503a11.5 11.5 0 1011.5 11.5A11.513 11.513 0 0012 .503zm0 21a9.5 9.5 0 119.5-9.5 9.51 9.51 0 01-9.5 9.5z">
                        </path>
                    </svg>
                </button>
                <div class="" style="right: 12px; bottom: 360px;"></div>

                <div class="pd-textarea">
                    <textarea class="form-control shadow-none" autocomplete="off" autocorrect="off" type="text"
                        id="search" placeholder="Agrega un comentario..." aria-label="Agrega un comentario" />
                </div>
                <button class="btn-link border-0 bg-transparent text-decoration-none" enabled>
                    <span>Publicar</span>
                </button>
            </form>
        </div>
    </div>

</div>

@code {
    public bool ShowPublicationDetailOption = false;
}