.signUp[b-m815n33bdu] {
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-main[b-m815n33bdu] {
    padding:25px;
    width:calc(520px - 30px);
}

.su-description[b-m815n33bdu] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.su-form[b-m815n33bdu] {
    padding:15px;
}

.su-buttons[b-m815n33bdu] {
    padding-left:15px;
    padding-right:15px;
}

.su-buttons > button[b-m815n33bdu] {
    width:100%;
}


.su-login[b-m815n33bdu] {
    width:calc(520px - 30px);
    padding:15px;
}

.su-l-content[b-m815n33bdu] {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.conditions[b-m815n33bdu] {
    font-size:0.8em;
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
}