.uc-membercard[b-qv7ykwf0j9] {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    padding:15px;
}

.userprofile[b-qv7ykwf0j9] {
    height:56px;
    width:56px;
    display:flex;

}

.membercard-data[b-qv7ykwf0j9] {
    font-size:0.9em;
    width:100%;
    display:flex;
    flex-direction: column;
}

.membercard-data > span:last-child[b-qv7ykwf0j9] {
    font-size:0.85em;
}

.membercard-actions > button[b-qv7ykwf0j9] {
    font-size:0.8em;
    font-weight: 600;
    padding:0;
}