.login {
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.log-main {
    padding:25px;
    width:calc(420px - 30px);
}

.log-logo {
    padding:25px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.log-form {
    padding:15px;
}

.log-buttons {
    padding-left:15px;
    padding-right:15px;
}


.log-buttons > button {
    width:100%;
}

.log-signup {
    width:calc(420px - 30px);
    padding:15px;
}

.log-signup-content {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}