@page "/login"

<div class="login">
    <section class="log-main card">
        <div class="log-logo">
            <UVGramWeb.Shared.Components.Logo.Logo></UVGramWeb.Shared.Components.Logo.Logo>
        </div>
        <div class="log-form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="account" placeholder="name@example.com">
                <label for="account">Correo electrónico o nombre de usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Contraseña">
                <label for="password">Contraseña</label>
            </div>
        </div>
        <div class="log-buttons">
            <button class="btn btn-primary">Iniciar sesión</button>
        </div>
        <div class="error-message">
            <p role="alert" class="text-danger">Este nombre de usuario no está disponible Prueba con otro</p>
        </div>
    </section>
    <section class="log-signup card">
        <div class="log-signup-content">
            <span>¿No tienes una cuenta?</span>
            <NavLink class="nav-link" href="signup">Registrate</NavLink>
        </div>
    </section>
</div>