.wrapper[b-4d1lkf14n8] {
    /*height:calc(100vh - 62px);*/
    height:10000px;
    width:100vw;
    display:flex;
    justify-content: center;
}

.home[b-4d1lkf14n8] {
    display:grid;
    width:75%;
    height:100%;
    grid-gap:15px;
    grid-template-areas:
    "a c"
    "b c";
    grid-template-columns:calc(65% - 15px) 35%;
    grid-template-rows: 120px calc(80vh - 15px);
    padding: 25px 15px 0 15px;
}

.histories[b-4d1lkf14n8] {
    grid-area:a;
}

.publications[b-4d1lkf14n8] {
    grid-area:b;
    gap:25px;
    display:flex;
    flex-direction: column;
}

.aside[b-4d1lkf14n8] {
    grid-area:c;
    padding-top:100px;
}

.histories-content[b-4d1lkf14n8] {
    height:100%;
    width:100%;
}

.histories-content ul[b-4d1lkf14n8] {
    list-style: none;
    display:flex;
    padding:0;
    padding-left:10px;
    height:100%;
    margin:0;
    justify-content: left;
    align-items: center;
    overflow:auto;
}

.aside-content[b-4d1lkf14n8] {
    width:100%;
}

.suggestions-content[b-4d1lkf14n8] {
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: hidden;
}

.suggestions-header[b-4d1lkf14n8] {
    padding:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions-header > span:nth-child(2)[b-4d1lkf14n8] {
    font-size: 0.8em;;
}