.chatmessagecard {
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:15px;
  padding:10px 15px 10px 15px;
  width:100%;
}

.userprofile {
  height:56px;
  width:56px;
}

.userprofile-data {
  font-size:0.9em;
  display:flex;
  flex-direction: column;
  width:100%;
  overflow: hidden;
}

.mc-message-content > span:last-child {
  font-size:0.85em;
}

.mc-message-content {
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.userprofile-actions > button {
  font-size:0.8em;
  font-weight: 600;
  padding:0;
}


.message {
  border-radius: 100%;
  display:grid;
  place-items: center;
}

.no-readed {
  background-color:#0095f6;
}

.read {
  background-color: transparent;
}