.uc-usercard {
    display:flex;
    justify-content: space-between;
    padding:2px;
    align-items: center;
    gap:15px;
}

.userprofile {
    height:32px;
    width:32px;
    display:flex;

}

.userprofile-data {
    font-size:0.9em;
    width:100%;
    display:flex;
    flex-direction: column;
}

.userprofile-data > span:last-child {
    font-size:0.85em;
}

.userprofile-actions > button {
    font-size:0.8em;
    font-weight: 600;
    padding:0;
}