@page "/signup3"

<div class="su-type-account">
    <div class="su-type-acc-main card">
        <div class="su-ta-description">
            <p class="semibold text-center"> Selecciona el tipo de cuenta</p>
            <p class="text-muted text-center">Cada una de los tipos de cuenta ofrece ciertos beneficios</p>
        </div>
        <div class="su-ta-form btn-group-toggle" data-toggle="buttons">
            <button class="btn btn-primary" type="button">Personal</button>
            <button class="btn btn-primary" type="button">Empresarial</button>
        </div>
        <div class="su-buttons">
            <button class="btn btn-link text-decoration-none">Volver</button>
        </div>
    </div>
</div>