@page "/signup4"

<div class="su-code">
    <div class="su-code-main card">
        <div class="su-code-description">
            <img src="/images/ide-code.svg" alt="Imagen decorativa que hace alusión a un telefono que recibe un código">
            <p class="semibold text-center">Solo un paso más</p>
            <p class="text-muted text-center">Ingresa el código de 6 dígitos que enviamos al numero de telefono</p>
        </div>
        <div class="su-code-form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="code" placeholder="######">
                <label for="code">Código de confirmación</label>
            </div>
        </div>
        <div class="su-buttons">
            <button class="btn btn-primary">Siguiente</button>
            <button class="btn btn-link text-decoration-none">Volver</button>
        </div>
    </div>

</div>