<div class="report">
    <div class="report-content card">
        <div class="report-header border-bottom">
            <h1 class="semibold">Reportar</h1>
            <div class="report-action">
                <button class="btn border-0 bg-transparent">
                    <svg aria-label="Cerrar" color="#262626" fill="#262626" height="18" role="img" viewBox="0 0 24 24"
                        width="18">
                        <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                    </svg>
                </button>
            </div>
        </div>
        <div class="report-options">
            <h2 class="semibold border-bottom">¿Por qué quieres reportas este contenido?</h2>
            <button class="btn border-bottom shadow-none">Spam</button>
            <button class="btn border-bottom shadow-none">Desnudos o actividad sexual</button>
            <button class="btn border-bottom shadow-none">Lenguaje o símbolos que incitan al odio</button>
            <button class="btn border-bottom shadow-none">Violencia u organizaciones peligrosas</button>
            <button class="btn border-bottom shadow-none">Venta de artículos ilegales o regulados</button>
            <button class="btn border-bottom shadow-none">Bullying o acoso</button>
            <button class="btn border-bottom shadow-none">Infracción de la propiedad intelectual</button>
            <button class="btn border-bottom shadow-none">Suicidio o autolesión</button>
            <button class="btn border-bottom shadow-none">Transtornos alimenticios</button>
            <button class="btn border-bottom shadow-none">Estafa o fraude</button>
            <button class="btn border-bottom shadow-none">Información falsa</button>
            <button class="btn">Simplemente no me gusta</button>
        </div>
    </div>
</div>