.notificationcard[b-v917x1n5sw] {
    padding:10px 5px 10px 5px;
    display:flex;
    gap:10px;
}

.userprofile[b-v917x1n5sw] {
    height:44px;
    width:44px;
}

.ntc-content[b-v917x1n5sw] {
    text-align: start;
    flex:1;
    display:flex;
    align-items: center;
}

.ntc-content > span[b-v917x1n5sw] {
    display:block;
    font-size:0.87em;
    line-height: 1.1em;
}

.ntc-linkaction[b-v917x1n5sw] {
    width:13%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ntc-linkaction > img[b-v917x1n5sw] {
    width:40px;
    height:40px;
}