.chat {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
}

.chat-messages-wrapper {
  padding:10px;
}

.chat-header {
  height:63px;
  padding:19px;
  display:flex;
  padding-left:30px;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.chat-actions {
  padding:5px;
}

.chat-actions > button {
  border:none;
  background-color: transparent;
}

.username {
  padding-left:15px;
  flex:1;
}

.userprofile {
  height:32px;
  width:32px;
}


.chat-messages {
  flex:1;
  overflow: auto;
}

.chat-messages-wrapper {
  overflow: hidden;
}



.chat-send-actions {
  padding:5px 20px 5px 20px;
}

.cs-wrapper {
  display:flex;
  align-items: center;
  justify-items: center;
  padding:10px 20px 10px 20px;
  border-radius:25px;
  gap:15px;
}

.cs-emojis {
  border:none;
}

.cs-emojis > button {
  border:none;
  background-color: transparent;
}

.cs-textarea {
  flex:1;
}

.cs-textarea > textarea {
  height:38px;
  min-height:38px;
  max-height: 108px;
  border:none;
}

.cs-fileadj {
  padding:5px;
}

.cs-fileadj > button {
  border:none;
  background-color: transparent;
}


.chat-members {
  padding:15px;
  display:flex;
  flex-direction: column;
}

.chat-actionsdetails {
  display:flex;
  gap:5px;
  flex-direction: column;
  padding:15px;
}

.chat-actionsdetails > button {
  color:#dc3545;
  background-color: transparent;
  border:0;
  text-align: start;
  padding:5px;
  font-size:0.9em;
}

.ca-active > circle{
  background-color: #000;
}
