.historycard[b-s01x4icsff] {
    height:38%;
    width:12%;
    background-color: blue;
    border-radius:7px;
    position: relative;
}

.historycard > img[b-s01x4icsff] {
    height: 100%;
    width: 100%;
}

.historycard.active[b-s01x4icsff] {
    height: 96%;
    width:30%;
    aspect-ratio: 96/30;
}

.backStorie[b-s01x4icsff] {
    position:absolute;
    top:50%;
    left:-10%;
}

.nextStorie[b-s01x4icsff] {
    position:absolute;
    top:50%;
    right:-10%;
}
