<div class="history-content">
    <div class="history-userprofile">
        <Frontend.Shared.UserProfile.UserProfile></Frontend.Shared.UserProfile.UserProfile>
    </div>
    <span class="history-username">blazor.02</span>
</div>