<div class="notificationcard">
    <div class="userprofile">
        <UVGramWeb.Shared.Components.UserProfile.UserProfile></UVGramWeb.Shared.Components.UserProfile.UserProfile>
    </div>
    <div class="ntc-content">
        <span>

            <NavLink> <strong>elbarconocido</strong> </NavLink>

            comenzó a seguirte.

            <time class="text-muted" datetime="2022-04-16T06:27:20.976Z" title="16 de abril de 2022">1 sem</time>
        </span>
    </div>
    <div class="ntc-linkaction">
        <img src="/images/ide-02.svg" alt="Imagen que corresponde al post">
    </div>
</div>