.su-type-account{
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-type-acc-main {
    padding:25px;
    width:calc(420px - 30px);
    display:flex;
    align-items: center;
}

.su-ta-description {
    padding:25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.su-ta-description > img {
    height:120px;
    padding-bottom:15px;
}

.su-ta-form {
    display:flex;
    padding:15px;
    gap:55px;
}
