.signUp {
    padding:35px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.su-main {
    padding:25px;
    width:calc(520px - 30px);
}

.su-description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.su-form {
    padding:15px;
}

.su-buttons {
    padding-left:15px;
    padding-right:15px;
}

.su-buttons > button {
    width:100%;
}


.su-login {
    width:calc(520px - 30px);
    padding:15px;
}

.su-l-content {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.conditions {
    font-size:0.8em;
    margin-left:25px;
    margin-right:25px;
    margin-top:10px;
}