@page "/signup"
@using UVGramWeb.Models; 

<EditForm Model="@account" >
    <div class="signUp">
      @steps[currentStep]
    </div>
</EditForm>

@code {

    private RenderFragment[] steps;
    private int currentStep = 0;

    protected override void OnInitialized() {
      steps = new RenderFragment[4];
      steps[0] = @<SignUpInitialData MoveForwardCallback="MoveForward" MoveBackwardCallback="MoveBackward"  />;
      steps[1] = @<SignUpBirth MoveForwardCallback="MoveForward" MoveBackwardCallback="MoveBackward"  />;
      steps[2] = @<SignUpTypeAccount MoveForwardCallback="MoveForward" MoveBackwardCallback="MoveBackward"  />;
      steps[3] = @<SignUpVerifyCode MoveForwardCallback="MoveForward" MoveBackwardCallback="MoveBackward"  />;
    }

    public void MoveForward() {
      if (currentStep < 3) currentStep += 1;
    }

    public void MoveBackward() {
      if (currentStep > 0) currentStep -= 1;
    }

  Account account = new Account(); 

    
}

