@using UVGramWeb.Models; 

<div class="su-type-account">
    <section class="su-type-acc-main card">
        <div class="su-ta-description">
            <p class="semibold text-center"> Selecciona el tipo de cuenta</p>
            <p class="text-muted text-center">Cada una de los tipos de cuenta ofrece ciertos beneficios</p>
        </div>
        <div class="su-ta-form btn-group-toggle" data-toggle="buttons">
            <button class="type-button btn-primary" @onclick="() => { account.RolUsuario.Personal = new Personal(); InvokeFunction(MoveForwardCallback);}">Personal</button>
            <button class="type-button btn btn-primary" @onclick="() => { account.RolUsuario.Empresa = new Company(); InvokeFunction(MoveForwardCallback);}">Empresarial</button>
        </div>
        <div class="su-buttons">
            <button class="btn btn-link text-decoration-none" @onclick="() => InvokeFunction(MoveBackwardCallback)">Volver</button>
        </div>
    </section>
</div>


@code {
    [CascadingParameter(Name = "EditContextValue")]
    protected EditContext? editContext { get; set; }

    [CascadingParameter(Name = "AccountValue")]
    protected User account { get; set; }

    [Parameter]
    public Action? MoveForwardCallback { get; set; }

    [Parameter]
    public Action? MoveBackwardCallback { get; set; }

    private void InvokeFunction(Action function) {
        function.Invoke();
    }

}