@page "/keepwithus"

<div class="underconstruction">
    <h1>¡Seguimos mejorando el sitio!</h1>
    <p class="text-muted">Mantente con nosotros para hacer más grande la comunidad</p>
    <img src="/images/ide-49.svg" alt="Imagen decorativa que contiene elementos de construcción y hace alusión a una página en construcción">
</div>