@page "/p/test/"

<Frontend.Shared.Topbar.Topbar></Frontend.Shared.Topbar.Topbar>
<div class="publication">
    <Frontend.Shared.Publications.PublicationDetail.PublicationDetail></Frontend.Shared.Publications.PublicationDetail.PublicationDetail>
</div>