<div class="followers card">
    <div class="followers-header border-bottom">
        <h1>Seguidores</h1>
    </div>
    <div class="followers-content">
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>

        <Frontend.Shared.UserCard.UserCard></Frontend.Shared.UserCard.UserCard>
    </div>
</div>