<div class="sendmessage card">
    <div class="sendmessage-header border-bottom">
        <span class="semibold">Nuevo mensaje</span>
        <button class="btn-link border-0 bg-transparent text-decoration-none">Siguiente</button>
    </div>
    <div class="sendmessage-to-input border-bottom">
        <span class="text-muted">Para: </span>
        <input autocomplete="off" class="form-control shadow-none border-0" name="queryBox" placeholder="Buscar..." spellcheck="false" type="text" value="fds">
    </div>
    <div class="sendmessage-suggestions">
        <span class="text-muted">No se encontrón ningun usuario</span>
        <UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard></UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard>
           <UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard></UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard>
        <UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard></UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard>
        <UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard></UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard>
        <UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard></UVGramWeb.Pages.Inbox.Chat.SuggestionMessageUserCard.SuggestionMUCard>

    </div>
</div>

@code {
 
}