@page "/"
@inject NavigationManager NavigationManager

<div class="welcome-main-container">
    <section class="welcome-main-information-container">
        <article class="welcome-main-information-text">
            <h1>¡Bienvenido a UVGram!</h1>
            <p class="text-muted">Al registrarte podrás conocer una gran comunidad de la Universidad Veracruzana</p>
            <div>
                <button class="btn btn-primary" @onclick="NavigateToRegister">¡Registrate ahora!</button>
            </div>
        </article>
        <div class="welcome-main-information-image">
            <img src="images/ide-26.svg" class="welcome-information-image" alt="Imagen decorativa" />
        </div>
    </section>

    <section class="welcome-problems-information-container">
        <div class="welcome-problems-information">
            <h1>¿Por qué usar UVGram?</h1>
            <p>UVGram es una aplicación orientado a la fotografía donde puedes compartir cualquier tipo de contenido
                que beneficie a la comunidad</p>
        </div>
    </section>

    <section class="welcome-benefits-information-container">
        <div class="welcome-benefits-description-container">
            <h1>¿Cuáles son sus beneficios de utilizar UVGram?</h1>
            <p class="text-muted">Al utilizar UVGram tendrás muchos beneficios entre ellos están los siguientes</p>
        </div>
        <div class="welcome-benefits-list-container">
            <ul>
                <li>
                    <div class="welcome-benefits-listItem-container">
                        <img src="images/ide-19.svg" alt="Imagen decorativa" />
                        <span class="semibold">Gran comunidad</span>
                        <p class="text-muted">Ayudarás a que la comunidad crezca y explore nuevos entornos</p>
                    </div>
                </li>
                <li>
                    <div class="welcome-benefits-listItem-container">
                        <img src="images/ide-22.svg" alt="Imagen decorativa" />
                        <span class="semibold">Comunicación instantánea</span>
                        <p class="text-muted">Comunicarás tus ideas y conocimientos mediante fotografías</p>
                    </div>
                </li>
                <li>
                    <div class="welcome-benefits-listItem-container">
                        <img src="images/ide-23.svg" alt="Imagen decorativa" />
                        <span class="semibold">Marca personal</span>
                        <p class="text-muted">Comunicarás tu marca u organización personal a toda la comunidad con el objetivo de brindar nueva información relevante</p>
                    </div>
                </li>
                <li>
                    <div class="welcome-benefits-listItem-container">
                        <img src="images/ide-24.svg" alt="Imagen decorativa" />
                        <span class="semibold">Habilidades sociales</span>
                        <p class="text-muted">Aumentarás tus habilidades sociales y encontrarás nuevas amistades</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section ref={chooseContainerRef} class="welcome-choose-account-type-container">
        <div class="welcome-choose-title">
            <h1>¿Qué tipos de cuenta están disponibles?</h1>
            <div class="welcome-choose-description">
                <p>UVGram te ofrece dos tipos de cuentas que podrás seleccionar al registrarte y que puedes cambiar despues de haber registrado tu cuenta, cada cuenta tiene sus propios beneficios.</p>
            </div>
        </div>
        <div class="welcome-choose-list-container">
            <ul class="welcome-choose-account-type-ul">
                <li>
                    <div class="welcome-choose-listItem-container">
                        <div class="welcome-choose-image-container">
                            <img src="images/ide-28.svg" alt="Imagen decorativa" />
                        </div>
                        <div class="welcome-choose-description-container">
                            <div class="welcome-choose-description-text-container">
                                <h2>Cuenta personal</h2>
                                <span>La cuenta que podrás usar como un espacio personal para compartir ideas y
                                    conocimientos.</span>
                                <ul>
                                    <li class="valid-li">Puedes restringuir tu contenido al público general
                                    </li>
                                    <li class="valid-li">Puedes guardar publicar historias de 24 horas de
                                        duración.</li>
                                    <li class="valid-li">Puedes publicar anuncios</li>
                                    <li class="valid-li">Puedes cambiar a la cuenta empresarial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="welcome-choose-listItem-container">
                        <div class="welcome-choose-image-container">
                            <img src="images/ide-24.svg" alt="Imagen decorativa" />
                        </div>
                        <div class="welcome-choose-description-container">
                            <div class="welcome-choose-description-text-container">
                                <h2>Cuenta empresarial</h2>
                                <span>La cuenta con la que podrás compartir tu marca a la comunidad</span>
                                <ul>
                                    <li class="invalid-li">Puedes restringuir tu contenido al público general</li>
                                    <li class="valid-li">Beneficios de cuenta personal</li>
                                    <li class="valid-li">Puedes publicar anuncios</li>
                                    <li class="valid-li">Puedes elegir una categoria</li>
                                    <li class="valid-li">Puedes cambiar a la cuenta personal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

@code {
    private void NavigateToRegister() 
    {
        NavigationManager.NavigateTo("signup");
    }
}
