@page "/"
@inject NavigationManager NavigationManager

<div class="welcome-main-container">
    <section class="welcome-main-information-container">
        <article class="welcome-main-information-text">
            <h1>¡Bienvenido a UVGram!</h1>
            <p class="text-muted">Al registrarte podrás conocer una gran comunidad de la Universidad Veracruzana</p>
            <div>
                <button class="btn btn-primary" @onclick="NavigateToRegister">¡Registrate ahora!</button>
            </div>
        </article>
        <div class="welcome-main-information-image">
            <img src="images/ide-26.svg" class="welcome-information-image" alt="Imagen decorativa" />
        </div>
    </section>
</div>

@code {
    private void NavigateToRegister() 
    {
        NavigationManager.NavigateTo("signup");
    }
}
