<div class="uc-chatusercard">
    <div class="usercard-img">
        <div class="userprofile">
            <UVGramWeb.Shared.UserProfile.UserProfile></UVGramWeb.Shared.UserProfile.UserProfile>
        </div>
    </div>
    <div class="chatusercard-data">
        <span class="semibold">blazor.01</span>
        <span class="text-muted">Roberto Salazar</span>
    </div>
    <div class="chatusercard-actions">
        <button class="btn btn-link text-decoration-none" enabled>
        </button>
    </div>
</div>

@code {


  
}