.publicationdetail {
    max-width:78%;
    min-height:60vh;
    max-height:80vh;
    display:flex;
    flex-direction: row;
}

.pubd-img {
    height:100%;
    width:65%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.pubd-img > img {
    width:100%;
    height: 100%;
    object-fit:contain;
}

.pubd-details {
    flex:1;
    display:flex;
    flex-direction: column;
    font-size:0.9em;
}

.pubd-header {
    display:flex;
    gap:15px;
    width:100%;
    padding:10px 20px 10px 20px;
    justify-content: flex-start;
    align-items: center;
}

.userprofile {
    width:32px;
    height:32px;
}

.userdatapub {
    display:flex;
    flex-direction: column;
    flex:1;
}

.userdatapub > span:nth-child(2) {
    font-size:0.9em;
}

.pubd-comments {
    display:flex;
    flex-direction: column;
    gap:5px;
    flex:1;
    overflow:auto;
    padding:10px;
}

.pubd-actions-content {
    display:flex;
}

.pubd-actions {
    display:flex;
    padding:15px;
    gap:5px;
    width:100%;
}


.pd-emojis {
    display:flex;
    justify-content: center;
    align-items: center;
}

.pd-textarea {
    width:100%;
}

.pd-textarea > textarea {
    height:32px;
    max-height:90px;
    border: none;
    overflow: auto;
    outline: none;
    font-size:0.8em;
}


.pubd-header-actions {
    position:relative;
}

.pubd-options-tooltip {
    width:320px;
    right:-10px;
    top:32px;
    position: absolute;
}

.notsqr {
    z-index:0;
    height: 24px;
    width: 24px;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
}