.followers {
    position:absolute;
    width:350px;
    max-height:350px;
    top:35px;
    z-index:100;

    left: 50%;
    transform: translate(-50%, 0);

}

.followers-header {
    padding:10px;
}

.followers-header > h1 {
    font-size:1.1em;
    text-align: center;
}

.followers-content {
    padding:10px;
    overflow: auto;
    
}