<div class="followers card">
    <div class="followers-header border-bottom">
        <h1>Seguidores</h1>
    </div>
    <div class="followers-content">
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>

        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
    </div>
</div>