@page "/accounts/password/change/"

<UVGramWeb.Shared.Components.Topbar.Topbar></UVGramWeb.Shared.Components.Topbar.Topbar>
<div class="editprofile-chpassword">
    <div class="editprofilechp-content card">
        <EPSidebar></EPSidebar>
        <article class="ep-rightside">
            <form class="ep-editprofile-form">
                <div class="ep-data ep-photo-profile">
                    <aside>
                        <div class="userprofile-img-content">
                            <UVGramWeb.Shared.Components.UserProfile.UserProfile/>
                        </div>
                    </aside>
                    <div class="ep-data ep-pp-data">
                        <h1>adrian_c68</h1>
                    </div>
                </div>
                <div class="ep-data">
                    <aside>
                        <label class="epaside-data semibold" for="oldpassword">Contrase単a anterior:</label>
                    </aside>
                    <div class="ep-input">
                        <input class="form-control" aria-required="false" id="oldpassword" placeholder="" type="password"
                            value="">
                    </div>
                </div>
                <div class="ep-data">
                    <aside>
                        <label class="epaside-data semibold" for="newpassword">Contrase単a nueva:</label>
                    </aside>
                    <div class="ep-input">
                        <input class="form-control" aria-required="false" id="newpassword" placeholder="" type="password"
                            value="">
                    </div>
                </div>
                <div class="ep-data">
                    <aside>
                        <label class="epaside-data semibold" for="repeatnewpassword">Confirmar contrase単a nueva:</label>
                    </aside>
                    <div class="ep-input">
                        <input class="form-control" aria-required="false" id="repeatnewpassword" placeholder="" type="password"
                            value="">
                    </div>
                </div>

                <div class="ep-data">
                    <aside>
                    </aside>
                    <div class="ep-input">
                        <div class="actions">
                            <button class="btn btn-primary">Cambiar contase単a</button>
                        </div>
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>