@page "/stories/"

<div class="storiespg">
    <UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
    <UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
    <UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard Active="true">
    </UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>

    <UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
    <UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </UVGramWeb.Pages.Histories.HistoryPageCard.HistoryPageCard>
</div>