.historycard {
    height:38%;
    width:12%;
    background-color: blue;
    border-radius:7px;
    position: relative;
}

.historycard > img {
    height: 100%;
    width: 100%;
}

.historycard.active {
    height: 96%;
    width:30%;
    aspect-ratio: 96/30;
}

.backStorie {
    position:absolute;
    top:50%;
    left:-10%;
}

.nextStorie {
    position:absolute;
    top:50%;
    right:-10%;
}
