@if (Active)
{
    <div class="historycard active">
    <button aria-label="Anterior" class="backStorie">Back</button>
    <button aria-label="Anterior" class="nextStorie">Next</button>
    <img src="/images/ide-20.svg" alt="Imagen de usuario">
</div>
}
else
{
    <div class="historycard">
    <img src="/images/ide-20.svg" alt="Imagen de usuario">
</div>
}

@code {
    [Parameter]
    public bool Active { get; set; }
}