<div class="nt-content card">
    <div class="notf-header ">
        <span class="semibold">Este mes</span>
    </div>
    <div class="notf-content">
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        <UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
        </UVGramWeb.Shared.Components.Notifications.NotificationCard.NotificationCard>
    </div>
</div>