.nt-content[b-6stslgco58] {
    height:100%;
    width: 100%;
}

.notf-header[b-6stslgco58] {
    padding:5px 5px 5px 10px;
    display:flex;
    justify-content: flex-start;
    font-size:0.88em;
}

.notf-content[b-6stslgco58] {
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: auto;
    padding:5px;
}