<div class="wrapper">
    <div class="home">
        <div class="histories card">
            <div class="histories-content">

            </div>
        </div>
        <div class="publications">
        </div>

        <section class="aside">
            <div class="aside-content">
                <div class="suggestions-content">
                    <div class="suggestions-header">
                        <span class="bold text-muted">Sugerencias para tí</span>
                        <span class="bold"> Ver más</span>
                    </div>
                    <div class="suggestions-cbody">
                        @* <UVGramWeb.Shared.Suggestions.Suggestions></UVGramWeb.Shared.Suggestions.Suggestions> *@
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>