@page "/home"
@layout HomeLayout

<div class="wrapper">
    <div class="home">
        <div class="histories card">
            <div class="histories-content">
                @* <ul>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                    <li>
                        <UVGramWeb.Shared.HistoriesCard.Histories></UVGramWeb.Shared.HistoriesCard.Histories>
                    </li>
                </ul> *@
            </div>
        </div>
        <div class="publications">

            @* <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
            <UVGramWeb.Pages.Home.HomePublication.HomePublication></UVGramWeb.Pages.Home.HomePublication.HomePublication>
         *@
        </div>
        <section class="aside">
            <div class="aside-content">
                <div class="suggestions-content">
                    <div class="suggestions-header">
                        <span class="semibold text-muted">Sugerencias para tí</span>
                        <span class="semibold"> Ver más</span>
                    </div>
                    <div class="suggestions-cbody">
                        @* <UVGramWeb.Shared.Suggestions.Suggestions></UVGramWeb.Shared.Suggestions.Suggestions> *@
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>