@inject UVGramWeb.Services.IAuthenticationService AuthenticationService

<div class="wrapper">
    <div class="home">
        <div class="home-message card">
            <h1>Bienvenido @AuthenticationService.User.Username</h1>
            <div class="publications">
                <span></span>
            </div>
        </div>
    </div>
</div>