@page "/"
@inject Shared.PageHistoryState PageHistoryState
@inject Services.IAuthenticationService AuthenticationService

@{
    if (AuthenticationService.User == null)
    {
        <main class="welcome-main-container">
            <section class="wm-information-container">
                <div class="wmi-container-image">
                    <img src="images/ide-20.svg" alt="Imagen decorativa" />
                </div>
                <UVGramWeb.Pages.Components.Login></UVGramWeb.Pages.Components.Login>
            </section>
        </main>
    }
    else
    {
        <Home></Home>
    }
}
