@page "/login"

<section class="welcome-main-container">
    <section class="wm-information-container">
        <UVGramWeb.Pages.Components.Login></UVGramWeb.Pages.Components.Login>
    </section>
</section>