.reset-password-main {
    padding-top: 55px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rp-form {
    width: 388px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.rpf-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 35px;
}

.rpf-description>img {
    height: 40%;
    width: 40%;
}

.rpf-description>p {
    line-height: 1.2em;
    text-align: center;
    vertical-align: middle;
    font-size: 0.88em;
    padding-left: 45px;
    padding-right: 45px;
}

.rpf-description>h2 {
    padding-top: 25px;
    font-size: 1em;
    font-weight: 600;
}

.rpf-inputs {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 45px;
    padding-right: 45px;
}

.rpf-buttons {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    gap: 10px;
}

.rpf-buttons>button {
    width: 100%;
    font-size: 0.8em;
}