@page "/accounts/password/reset"
@inject NavigationManager Navigation;

<UVGramWeb.Pages.Components.Topbar>
</UVGramWeb.Pages.Components.Topbar>
<div class="reset-password-main">
    <div class="rp-form card">
        <div class="rpf-description">
            <img src="/images/ide-15.svg" alt="Imagen decorativa">
            <h2>¿Olvidaste tu contraseña?</h2>
            <p class="text-muted text-center">Ingresa tu correo electrónico o nombre de usuario y te enviaremos un
                enlace para que recuperes el acceso
                a tu
                cuenta.</p>
        </div>
        <div class="rpf-inputs">
            <div class="custom-form-floating">
                <input id="emailOrUsername" type="text" autocomplete="off" class="custom-form-input"
                    aria-label="Correo o usuario" required=true aria-required="true" />
                <label for="password" class="custom-form-floating-label">Contraseña</label>
            </div>
        </div>


        <div class="rpf-buttons">
            <button class="custom-btn custom-btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                else
                {
                    <span> Enviar enlace</span>
                }
            </button>
            <button class="custom-btn custom-btn-secondary" @onclick="@(() => Navigation.NavigateTo("/"))">Volver
                al
                inicio</button>

        </div>
    </div>
</div>

@code {
    [CascadingParameter] public Task<AuthenticationState> authStateTask { get; set; }
    bool loading = false;

    protected override async void OnInitialized()
    {
        var user = (await authStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/");
            return;
        }
    }


}