@inherits LayoutComponentBase
@inject UVGramWeb.Services.IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@using UVGramWeb.Pages.Components

@{
    <AuthorizeView>
        <Authorized>
            <main class="main-page">
                <Topbar>
                    <TopbarTools></TopbarTools>
                </Topbar>
                <div class="main-content">
                    @Body
                </div>
            </main>
        </Authorized>
        <NotAuthorized>
            <main class="main-page">
                <Topbar>
                    <TopbarTools></TopbarTools>
                </Topbar>
                <div class="main-content">
                    @Body
                </div>
            </main>
        </NotAuthorized>
    </AuthorizeView>
}
