@inherits LayoutComponentBase
@inject UVGramWeb.Services.IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@{
    <AuthorizeView>
        <Authorized>
            <main class="main-page">
                <UVGramWeb.Pages.Components.Topbar></UVGramWeb.Pages.Components.Topbar>
                @Body
            </main>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
}
