@page "/stories/"

<div class="storiespg">
    <Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
    <Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
    <Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard Active="true">
    </Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>

    <Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
    <Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
    </Frontend.Pages.Histories.HistoryPageCard.HistoryPageCard>
</div>