/* /Pages/Components/Login.razor.rz.scp.css */
.wmi-container-login[b-gpmdqkyynd] {
    height:550px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.wmicl-login-card[b-gpmdqkyynd] {
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.wmicllc-logo-title[b-gpmdqkyynd] {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
    padding-top:5px;
}

.wmicllc-form[b-gpmdqkyynd] {
    width:350px;
    display:flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:45px;
    padding-bottom: 10px;
    height:auto;
    border-radius: 2px;
}

.wmicllc-inputs[b-gpmdqkyynd] {
    display:flex;
    flex-direction: column;
    gap:6px;
}

.wmicllc-buttons[b-gpmdqkyynd]{
    padding-top:15px;
}

.wmicllc-buttons > button[b-gpmdqkyynd] {
    width: 100%;
}

.wmicllc-message[b-gpmdqkyynd] {
    padding-top:15px;
    font-size: 0.78em;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.wmicllc-recover[b-gpmdqkyynd] {
    padding-top:5px;
    display:flex;
    align-items: flex-end;
    font-size: 0.8em;
    justify-content: center;
    flex:1;
}

.wmicllc-recover > a[b-gpmdqkyynd] {
    width:100%;
    text-align: center;
    color: #1B4373;
    text-decoration: none;
}

.wmicllc-options[b-gpmdqkyynd] {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    padding:15px;
}

.wmicllcoc-options[b-gpmdqkyynd] {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    font-size: 0.9em;
}

@media (max-width: 870px) {
    .wmi-container-image[b-gpmdqkyynd] {
        display: none;
    }
}
/* /Pages/Components/Logo.razor.rz.scp.css */
.logo[b-rrf025yqfg] {
    font-size: 2.7em;
    font-weight: bold;
}

.logo > a[b-rrf025yqfg] {
    text-decoration: none;
    color:rgb(27, 26, 26);
    letter-spacing: 3px;
}

.logo-title[b-rrf025yqfg] {
    font-family: Lobster, 'Helvetica';
}
/* /Pages/Components/Topbar.razor.rz.scp.css */
.topbar[b-o1u1lmxsrj] {
    height:62px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.topbar-logo[b-o1u1lmxsrj] {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.topbar-search[b-o1u1lmxsrj] {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.topbar-actions[b-o1u1lmxsrj] {
    width:100%;
    gap:5px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    font-size:1.2em;
}

.notification-popup[b-o1u1lmxsrj] {
    position: relative;
}

.notification-tooltip[b-o1u1lmxsrj] {
    position: absolute;
    top:10px;
    z-index: 500;
    right:-14px;
    height:320px;
    max-height: 362px;
    width:500px;
}

.notsqr[b-o1u1lmxsrj] {
    z-index:1;
    height: 14px;
    width: 14px;
    background-color: red;
    position: absolute;
    top:5px;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);

}

/* /Pages/Home.razor.rz.scp.css */
.wrapper[b-mpvivnun8u] {
    /*height:calc(100vh - 62px);*/
    height:10000px;
    width:100vw;
    display:flex;
    justify-content: center;
    background-color: red;
}

.home[b-mpvivnun8u] {
    display:grid;
    width:75%;
    height:100%;
    grid-gap:15px;
    grid-template-areas:
    "a c"
    "b c";
    grid-template-columns:calc(65% - 15px) 35%;
    grid-template-rows: 120px calc(80vh - 15px);
    padding: 25px 15px 0 15px;
}

.histories[b-mpvivnun8u] {
    grid-area:a;
}

.publications[b-mpvivnun8u] {
    grid-area:b;
    gap:25px;
    display:flex;
    flex-direction: column;
}

.aside[b-mpvivnun8u] {
    grid-area:c;
    padding-top:100px;
}

.histories-content[b-mpvivnun8u] {
    height:100%;
    width:100%;
}

.histories-content ul[b-mpvivnun8u] {
    list-style: none;
    display:flex;
    padding:0;
    padding-left:10px;
    height:100%;
    margin:0;
    justify-content: left;
    align-items: center;
    overflow:auto;
}

.aside-content[b-mpvivnun8u] {
    width:100%;
}

.suggestions-content[b-mpvivnun8u] {
    display:flex;
    flex-direction: column;
    width:100%;
    overflow: hidden;
}

.suggestions-header[b-mpvivnun8u] {
    padding:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions-header > span:nth-child(2)[b-mpvivnun8u] {
    font-size: 0.8em;;
}
/* /Pages/Index.razor.rz.scp.css */

.welcome-main-container[b-v2ubcfauz3] {
    width:100vw;
    height:auto;
    display:flex;
}

.wm-information-container[b-v2ubcfauz3] {
    width: 100%;
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding-top:75px;
}

.wmi-container-image[b-v2ubcfauz3] {
    width:400px;
    height:550px;
}

.wmi-container-image > img[b-v2ubcfauz3] {
    width:100%;
    height: 100%;
}

.wmi-container-login[b-v2ubcfauz3] {
    height:550px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.wmicl-login-card[b-v2ubcfauz3] {
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.wmicllc-logo-title[b-v2ubcfauz3] {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
    padding-top:5px;
}

.wmicllc-form[b-v2ubcfauz3] {
    width:350px;
    display:flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:45px;
    padding-bottom: 10px;
    height:auto;
    border-radius: 2px;
}

.wmicllc-inputs[b-v2ubcfauz3] {
    display:flex;
    flex-direction: column;
    gap:6px;
}

.wmicllc-buttons[b-v2ubcfauz3]{
    padding-top:15px;
}

.wmicllc-buttons > button[b-v2ubcfauz3] {
    width: 100%;
}

.wmicllc-message[b-v2ubcfauz3] {
    padding-top:15px;
    font-size: 0.78em;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.wmicllc-recover[b-v2ubcfauz3] {
    padding-top:5px;
    display:flex;
    align-items: flex-end;
    font-size: 0.8em;
    justify-content: center;
    flex:1;
}

.wmicllc-recover > a[b-v2ubcfauz3] {
    width:100%;
    text-align: center;
    color: #1B4373;
    text-decoration: none;
}

.wmicllc-options[b-v2ubcfauz3] {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    padding:15px;
}

.wmicllcoc-options[b-v2ubcfauz3] {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    font-size: 0.9em;
}

@media (max-width: 870px) {
    .wmi-container-image[b-v2ubcfauz3] {
        display: none;
    }
}
/* /Shared/HomeLayout.razor.rz.scp.css */
.main-page[b-xney4lah9b] {
    height:100vh;
    width:100hw;
    background-color: red;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.main-page[b-mwk7a10tnr] {
    height:100vh;
    width:100hw;
    background-color: red;
}
