/* _content/UVGramWeb/Pages/Components/Logo/Logo.razor.rz.scp.css */
.logo[b-xk1dnpm5av] {
    font-size: 2.7em;
    font-weight: bold;
}

.logo > a[b-xk1dnpm5av] {
    text-decoration: none;
    color:rgb(27, 26, 26);
    letter-spacing: 3px;
}

.logo-title[b-xk1dnpm5av] {
    font-family: Lobster, 'Helvetica';
}
/* _content/UVGramWeb/Pages/Pages/Welcome/Index.razor.rz.scp.css */

.welcome-main-container[b-2evmdc7ar2] {
    width:100vw;
    height:auto;
    display:flex;
}

.wm-information-container[b-2evmdc7ar2] {
    width: 100%;
    display:flex;
    gap:25px;
    justify-content: center;
    align-items: center;
    padding-top:75px;
}

.wmi-container-image[b-2evmdc7ar2] {
    width:400px;
    height:550px;
}

.wmi-container-image > img[b-2evmdc7ar2] {
    width:100%;
    height: 100%;
}

.wmi-container-login[b-2evmdc7ar2] {
    height:550px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}

.wmicl-login-card[b-2evmdc7ar2] {
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.wmicllc-logo-title[b-2evmdc7ar2] {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
    padding-top:5px;
}

.wmicllc-form[b-2evmdc7ar2] {
    width:350px;
    display:flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:45px;
    padding-bottom: 10px;
    height:auto;
    border-radius: 2px;
}

.wmicllc-input[b-2evmdc7ar2] {
    padding-bottom:7px;
}

.wmicllc-input > input[b-2evmdc7ar2] {
    background-color: #fafafa;
    font-size: 13px;
    color:#959595;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.wmicllc-buttons[b-2evmdc7ar2]{
    padding-top:8px;
}

.wmicllc-buttons > button[b-2evmdc7ar2] {
    width: 100%;
}

.wmicllc-message[b-2evmdc7ar2] {
    padding-top:15px;
    font-size: 0.88em;
    display:flex;
    align-items: center;
    text-align: center;
}

.wmicllc-recover[b-2evmdc7ar2] {
    padding-top:5px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    flex:1;
    font-size: 0.87em;
}

.wmicllc-recover > a[b-2evmdc7ar2] {
    width:100%;
    text-align: center;
    color: #1B4373;
    font-size: 0.8em;
    text-decoration: none;
}

.wmicllc-options[b-2evmdc7ar2] {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    padding:15px;
}

.wmicllcoc-options[b-2evmdc7ar2] {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    font-size: 0.9em;
}

@media (max-width: 870px) {
    .wmi-container-image[b-2evmdc7ar2] {
        background-color: red;
        display: none;
    }
}
