.logo[b-xk1dnpm5av] {
    font-size: 2.7em;
    font-weight: bold;
}

.logo > a[b-xk1dnpm5av] {
    text-decoration: none;
    color:rgb(27, 26, 26);
    letter-spacing: 3px;
}

.logo-title[b-xk1dnpm5av] {
    font-family: Lobster, 'Helvetica';
}