.sendmessage[b-aexswl2pd7] {
    width:100%;
    height:100%;
}

.sendmessage-header[b-aexswl2pd7] {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.sendmessage-header > span[b-aexswl2pd7] {
    font-size:0.85em;
    display:flex;
    align-items: center;
}

.sendmessage-to-input[b-aexswl2pd7] {
    padding:15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sendmessage-to-input > input[b-aexswl2pd7] {
    background-color: transparent;
    border:none;
    font-size: 1.2em;;
}

.sendmessage-suggestions[b-aexswl2pd7] {
    padding: 15px;
    font-size:0.8em;
}