<div class="sumucard" role="button" tabindex="0">
    <div class="userprofile">
        <UVGramWeb.Shared.UserProfile.UserProfile></UVGramWeb.Shared.UserProfile.UserProfile>
    </div>
    <div class="userdata">
        <span class="semibold">username</span>
        <span class="text-muted">Cortes Hernandez</span>
    </div>
    <div class="sumucard-toggle">
        <button class="btn border-0 bg-transparent"><svg aria-label="Marcar o desmarcar" class="_8-yf5 " color="#262626"
                fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24">
                <circle cx="12.008" cy="12" fill="none" r="11.25" stroke="currentColor" stroke-linejoin="round"
                    stroke-width="1.5"></circle>
            </svg></button>
    </div>
</div>