<div class="following card">
    <div class="following-header border-bottom">
        <h1>Siguiendo</h1>
    </div>
    <div class="following-content">
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
        <UVGramWeb.Shared.Components.UserCard.UserCard></UVGramWeb.Shared.Components.UserCard.UserCard>
    </div>
</div>