@using UVGramWeb.Shared.Data

<div class="usermessage-wrapper">
  <div class="userprofile">
    <UVGramWeb.Pages.Components.UserProfile ImageUrl="@Message.User.url" />
  </div>
  <div class="usermessage border">
    <span>
      @if (Message != null && Message.Content != null)
      {
        if (@Message.Message_Type == MessageTypeEnum.TEXTO)
        {
          @Message.Content
        }
        else if (Message.Message_Type == MessageTypeEnum.IMAGEN)
        {
          @if (Message.Content != null)
          {
            <img class="usermessage-img" src="@Message.Content" />
          }
          else
          {
            <p>La imagen no está disponible.</p>
          }
        }
        else if (Message.Message_Type == MessageTypeEnum.VIDEO)
        {
          @:____Video enviado____
        }
        else
        {
          @:____Archivo enviado____
        }
      }
      else
      {
        @:Sin contenido...
      }
    </span>
  </div>
</div>

@code {
  [Parameter]
  public Message Message { get; set; }

}