.usermessage-wrapper {
  width:100%;
  padding:5px;
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap:10px;
}

.userprofile {
  height:24px;
  width:24px;
}

.usermessage {
  max-width: 234px;
  padding:15px;
  border-radius:18px;
  word-break: break-all;
  font-size:0.87em;
}