<div class="usermessage-wrapper">
    <div class="userprofile">
        <UVGramWeb.Shared.UserProfile.UserProfile></UVGramWeb.Shared.UserProfile.UserProfile>
    </div>
    <div class="usermessage border">
        <span>test</span>
    </div>
</div>
