<div class="messagecard">
    <div class="messagecard-img">
        <div class="userprofile">
            <UVGramWeb.Pages.Components.UserProfile></UVGramWeb.Pages.Components.UserProfile>
        </div>
    </div>
    <div class="userprofile-data">
        <div class="mc-message-content">
            <span>blazor.01</span>
        </div>
        <div class="mc-message-content">
            <span class="text-muted">Hola como has estado espero qapdsofksapfkdsapoue muy bien</span>
        </div>
    </div>
    <div class="userprofile-actions">
        <div aria-label="No leído" class="message no-readed" style="height: 8px; width: 8px;"></div>
    </div>
</div>