<sidebar class="ep-leftside border-end" >
    <div class="nav-items">
        <NavLink class="nav-items text-decoration-none" ActiveClass="active" href="/accounts/edit/"
            Match="NavLinkMatch.All">
            <span>Editar perfil</span>
        </NavLink>
    </div>

    <div class="nav-items">
        <NavLink class="nav-items text-decoration-none" ActiveClass="active" href="/accounts/password/change/"
            Match="NavLinkMatch.All">
            <span>Cambiar contraseña</span>
        </NavLink>
    </div>

    <div class="nav-items">
        <NavLink class="nav-items text-decoration-none" ActiveClass="active" href="/keepwithus"
            Match="NavLinkMatch.All">
            <span>Privacidad y seguridad</span>
        </NavLink>
    </div>

    <div class="nav-items">
        <NavLink class="nav-items text-decoration-none" ActiveClass="active" href="/keepwithus"
            Match="NavLinkMatch.All">
            <span>Actividad de inicio de sesión</span>
        </NavLink>
    </div>

    <div class="nav-items">
        <NavLink class="nav-items text-decoration-none" ActiveClass="active" href="/convert_to_professional_account/"
            Match="NavLinkMatch.All">
            <span class="btn-link text-decoration-none">Cambiar a cuenta profesional</span>
        </NavLink>
    </div>
</sidebar>