@page "/p/test/"

<UVGramWeb.Shared.Topbar.Topbar></UVGramWeb.Shared.Topbar.Topbar>
<div class="publication">
    <UVGramWeb.Shared.Publications.PublicationDetail.PublicationDetail></UVGramWeb.Shared.Publications.PublicationDetail.PublicationDetail>
</div>