<div class="mymessage-wrapper">
    <div class="mymessage">
        <span>adaspodfkaspokdfapodkfpsokfapdosfkasopfdksapofadaspodfkaspokdfapodkfpsokfapdosfkasopfdksapofadaspodfkaspokdfapodkfpsokfapdosfkasopfdksapofadaspodfkaspokdfapodkfpsokfapdosfkasopfdksapofadaspodfkaspokdfapodkfpsokfapdosfkasopfdksapofadaspodfkaspokdfapodkfpsokfapdosfkasopfdksapofadaspodfkaspokdfapodkfpsokfapdosfkasopfdksapofadaspodfkaspokdfapodkfpsokfapdosfkasopfdksapof</span>
    </div>
</div>
