<div class="publication-profile">
    <NavLink href="/p/test">
        <div class="pf-publication">
            <div class="profile-img">
                <img src="/images/ide-15.svg" alt="Imagen de usuario">
            </div>
        </div>
    </NavLink>
    <NavLink href="/p/test">
        <div class="pf-publication">
            <div class="profile-img">
                <img src="/images/ide-20.svg" alt="Imagen de usuario">
            </div>
        </div>
    </NavLink>
    <NavLink href="/p/test">
        <div class="pf-publication">
            <div class="profile-img">
                <img src="/images/ide-18.svg" alt="Imagen de usuario">
            </div>
        </div>
    </NavLink>

</div>
