.comment-wrapper {
  width: 100%;
}

.comment-layout {
  width: 100%;
  font-size: 0.9em;
  gap: 10px;
  display: flex;
  align-items: flex-start;
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.actions {
  display: flex;
  gap: 15px;
  font-size: 0.85em;
  align-items: center;
  flex:1;
}

.actions > button {
  padding:0;
  margin:0;
}

.like-button {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.act-timestamp {
  font-size: 0.8em;
  max-width: 72px;
}

.comment-content {
  flex: 1;
}

.comment-spn {
  word-break: break-word;
  font-size: 1em;
  min-height: 15px;
}

.comment-spn > a {
  text-decoration: none;
  color: #1b2d7d;
  font-weight: 600;
}

.cl-userprofile {
  height: 32px;
  width: 32px;
}

.like-action {
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  justify-content: center;
}

.cat-options-button {
  position: relative;
}

.comment-replies {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 42px;
  padding-top: 10px;
  gap: 10px;
}
