<div class="ep-leftside border-end">
    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/accounts/edit/"
        Match="NavLinkMatch.All">
        Editar perfil
    </NavLink>

    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/accounts/password/change/"
        Match="NavLinkMatch.All">
        Cambiar contraseña
    </NavLink>

    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/accounts/privacy_and_security"
        Match="NavLinkMatch.All">
        Privacidad y seguridad
    </NavLink>
</div>