<div class="ep-leftside border-end">
    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/accounts/edit/"
        Match="NavLinkMatch.All">
        Editar perfil
    </NavLink>

    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/accounts/password/change/"
        Match="NavLinkMatch.All">
        Cambiar contraseña
    </NavLink>

    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/keepwithus"
        Match="NavLinkMatch.All">
        Privacidad y seguridad
    </NavLink>

    <NavLink class="nav-link-edit-profile" ActiveClass="nav-active-edit-profile" href="/keepwithus"
        Match="NavLinkMatch.All">
        Actividad de inicio de sesión
    </NavLink>

    <NavLink class="nav-link-edit-profile" ActiveClass="active" href="/convert_to_professional_account/"
        Match="NavLinkMatch.All">
        Cambiar a cuenta profesional
    </NavLink>
</div>