<link href="https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap" rel="stylesheet">

<div class="logo">
    <a href="/" role="button" aria-disabled="false" tabindex="0">
        <span class="logo-title">UVGram</span>
    </a>
</div>