@if (Loading)
{
    <span class="spinner-border spinner-border-sm mr-1"></span>
}

@if (Done)
{
    <DoneCheckMark></DoneCheckMark>
}
@if (!Done && !Loading)
{
    <span>@Message</span>
}

@code {
    [Parameter]
    public bool Done { get; set; }
    [Parameter]
    public bool Loading { get; set; }
    [Parameter]
    public string Message { get; set; }
}