@inject UVGramWeb.Services.IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<header class="topbar-card card">
    <nav class="topbar">
        <div class="topbar-logo">
            <UVGramWeb.Pages.Components.Logo></UVGramWeb.Pages.Components.Logo>
        </div>
        <div class="topbar-components">
            @ChildContent
        </div>
    </nav>
</header>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}