@inject UVGramWeb.Services.IAuthenticationService AuthService
@inject NavigationManager NavManager

<div class="topbar-search">
    <input type="text" id="search" class="form-control" placeholder="Buscar..." aria-label="Buscar">
</div>
<div class="topbar-actions">
    @{
        if (AuthService.User == null)
        {
            <button class="custom-btn custom-btn-primary" @onclick="@(() => NavManager.NavigateTo("/login"))">Iniciar
                sesión</button>
            <button class="custom-btn custom-btn-secondary" @onclick="@(() =>
    NavManager.NavigateTo("/signup"))">Registrarse</button>
        }
        else
        {
            <NavLink class="btn shadow-none" href="/">
                <span class="oi oi-home" aria-label="home"></span>
            </NavLink>
            <NavLink class="btn shadow-none" href="/inbox/">
                <span class="oi oi-envelope-closed" aria-label="Mensajes"></span>
            </NavLink>
            <NavLink class="btn shadow-none">
                <span class="oi oi-plus" aria-label="Publicar"></span>
            </NavLink>
            <NavLink class="btn shadow-none">
                <span class="oi oi-compass" aria-label="Explorar"></span>
            </NavLink>
            <NavLink class="btn shadow-none" href="@($"/{AuthService.User.Username}")" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-label="Mi perfil"></span>
            </NavLink>
            <a class="btn shadow-none" href="/logout">
            <span class="oi oi-account-logout" title="Salir" aria-label="Salir"></span>
        </a>
        }
    }
</div>