<header class="card">
    <nav class="topbar">
        <div class="topbar-logo">
            <UVGramWeb.Pages.Components.Logo></UVGramWeb.Pages.Components.Logo>
        </div>
        <div class="topbar-search">
            <input type="text" id="search" class="form-control" placeholder="Buscar..." aria-label="Buscar">
        </div>
        <div class="topbar-actions">
            <NavLink class="btn shadow-none" href="/home">
                <span class="oi oi-home" aria-label="home"></span>
            </NavLink>
            <NavLink class="btn shadow-none" href="/inbox/">
                <span class="oi oi-envelope-closed" aria-label="Mensajes"></span>
            </NavLink>
            <NavLink class="btn shadow-none">
                <span class="oi oi-plus" aria-label="Publicar"></span>
            </NavLink>
            <NavLink class="btn shadow-none">
                <span class="oi oi-compass" aria-label="Explorar"></span>
            </NavLink>
            <NavLink class="btn shadow-none" href="/my.username/">
                <span class="oi oi-person" aria-label="Mi perfil"></span>
            </NavLink>
            <NavLink class="btn shadow-none" href="/logout">
                <span class="oi oi-account-logout" title="Salir" aria-label="Salir"></span>
            </NavLink>
        </div>
    </nav>
</header>

@code {

}