@inject Services.IAccountService AccountService;
@inject NavigationManager NavigationManager;

<a class="userprofile-content">
  <div class="up-content">
    <div class="userprofile-img">
      @if (Image != null && Image.Data != null)
      {
        <img src="@($"data:${Image.ContentType};base64,{Convert.ToBase64String(Image.Data)}")" alt="Imagen" />
      }
      else
      {
        <img src="/images/ide-19.svg" alt="Imagen de usuario">
      }
    </div>
  </div>

  @if (HasHistory)
  {
    <div
      class="@(IsHistorySeen ? "userprofile-history-available history-outstanding" : " userprofile-history-available history-seen")">
    </div>
  }
</a>

@code {
  public bool IsHistorySeen = true;
  public bool HasHistory = true;
  public Image Image = null;
  [Parameter]
  public string ImageUrl { get; set; }

  protected override async Task OnInitializedAsync()
  {
    if (ImageUrl != null)
    {
      Image = await AccountService.GetImageResource(ImageUrl);
    }
  }


}
