@inject Services.IAccountService AccountService;
@inject NavigationManager NavigationManager;

<a class="userprofile-content">
  <div class="up-content">
    <div class="userprofile-img">
      @if (ImageUrl != null)
      {
        <img src="@ImageUrl" alt="Imagen" />
      }
      else
      {
        <img src="/images/noprofile.svg" alt="Imagen de usuario">
      }
    </div>
  </div>

  @if (HasStory)
  {
    <div
      class="@(IsStorySeen ? "userprofile-story-available story-outstanding" : " userprofile-story-available story-seen")">
    </div>
  }
</a>

@code {
  public bool IsStorySeen = true;
  public bool HasStory = true;
  [Parameter]
  public string ImageUrl { get; set; }

}
